.box-rating{
    border-radius: 4px;
    background: #cccccc36;
    border: 1px dashed #8e8e8e;
}

.card{
    background-color: #ffffff92;

}
.box{
    background: url(../../../assets/img/paattern4.png);
    background-position: top;
    background-size: cover;
    min-height: 100vh;
}
