<app-dialog-shared
    [width]="'70vw'"
    [dialogHeader]="'انواع الاطراف الصناعية'"
    (close)="closeDialog()"
>
    <div class="bodyDialog">
        <div class="inline-flex align-items-center">
            <span class="p-input-icon-left flex-auto mr-2">
                <app-button-component
                    [classColor]="'p-button-outlined'"
                    [Icon]="'pi pi-plus'"
                    label="اضافة قائمة رئيسية"
                    [isCustomLable]="true"
                    [pTooltipCustom]="' اضافة قائمة رئيسية'"
                    (action)="addOrEdit()"
                >
                </app-button-component>
            </span>
        </div>
        <br />
        <br />

        <app-tree
            [data$]="prostheticsTypes$"
            [keyName]="'NameAr'"
            [keyParent]="'ParentID'"
            [keyID]="'ID'"
            (onNodeAdd)="addOrEdit(null, $event?.ID)"
            (onNodeDelete)="del($event)"
            (onNodeEdit)="addOrEdit($event)"
        ></app-tree>
    </div>
</app-dialog-shared>
