<app-dialog-shared
    [width]="'60vw'"
    [dialogHeader]="'اضافة وصف '"
    (close)="closeDialog()"
>
    <div class="bodyDialog">

    </div>
    <div class="footerDialog">
        <app-button-component
            label="حفظ"
            [classColor]="'p-button'"
            [pTooltipCustom]="'حفط'"
            (action)="save()"
            [Icon]="'pi pi-folder-open'"
        ></app-button-component>
        <app-button-component
            label="مسح بيانات الحقول"
            [classColor]="' p-button-secondary'"
            [pTooltipCustom]="'مسح الحقول '"
            [Icon]="'pi pi-eraser'"
        ></app-button-component>
    </div>
</app-dialog-shared>
