.layout-primary {
    --v-body-bg:   #8a1538;
    --v-menuitem-text-color-secondary: rgba(255, 255, 255, .7);
    --v-menuitem-text-color: var(--primary-color-text);
    --v-menuitem-hover-bg: rgba(255, 255, 255, .1);
    --v-overlay-menuitem-text-color: var(--text-color);
    --v-overlay-menuitem-hover-bg: var(--surface-hover);
    --v-topbar-search-button-bg: var(--primary-color-text);
    --v-topbar-search-button-icon-color: var(--primary-color);
}
