<div class="card">
    <div class="flex flex-column md:flex-row mb-3">
        <div class="text-900 text-xl font-semibold mb-3 md:mb-0">
            المركز الاعلامي
        </div>
    </div>
    <hr />
    <form [formGroup]="Form_MediaSectionsItems">
        <div class="grid p-fluid mt-3">
            <div class="col-12 mb-2 lg:col-1 lg:mb-0">
                <label for="">اضافة صورة للمقال</label>
                <app-upload-files
                    (onSelectFiles)="fileSelected = $event"
                    [showFilesUploaded]="true"
                ></app-upload-files>
            </div>
            <div class="col-12 mb-2 lg:col-1 lg:mb-0">
                <label for="">اضافة فيديو للمقال</label>
                <app-upload-files
                    (onSelectFiles)="fileSelected2 = $event"
                    [showFilesUploaded]="true"
                ></app-upload-files>
            </div>
            <div class="col-12 mb-2 lg:col-5 lg:mb-0">
                <app-input-field
                    [label]="'العنوان/عربي'"
                    formControlName="TitleAr"
                >
                </app-input-field>
            </div>
            <div class="col-12 mb-2 lg:col-5 lg:mb-0">
                <app-input-field
                    [label]="'العنوان  /انجليزي'"
                    formControlName="TitleEn"
                >
                </app-input-field>
            </div>
            <div class="col-12 mb-2 lg:col-6 lg:mb-0">
                <app-text-area-field
                    [rows]="3"
                    [label]="'الوصف /عربي'"
                    formControlName="DescAr"
                >
                </app-text-area-field>
            </div>
            <div class="col-12 mb-2 lg:col-6 lg:mb-0">
                <app-text-area-field
                    [rows]="3"
                    [label]="'وصف  /انجليزي'"
                    formControlName="DescEn"
                >
                </app-text-area-field>
            </div>
            <div class="col-12 mb-2 lg:col-2 lg:mb-0">
                <app-input-field
                    label="الترتيب"
                    formControlName="Sorting"
                >
                </app-input-field>
            </div>
            <div class="col-12 mb-2 lg:col-2 lg:mb-0">
                <app-select-field
                    [dropdownItems]="MediaType$ |async"
                    [optionValue]="'ID'"
                    formControlName="MediaSectionID"
                    [label]="'اختيار المركز الاعلامي'"
                >
                </app-select-field>
            </div>
            <div class="col-12 mb-2 lg:col-2 lg:mb-0">
                <app-select-field
                    [dropdownItems]="[
                        { Code: 1, Name: 'التأهيل الطبي' },
                        { Code: 2, Name: 'الاطراف الصناعية' },
                        { Code: 3, Name: 'السمع والتوازن' },
                        { Code: 4, Name: 'العيادة الخارجية' }
                    ]"
                    formControlName="MainServiceID"
                    [label]="'اختيار القسم الرئيسي'"
                >
                </app-select-field>
            </div>
            <div
                class="col-12 mb-2 lg:col-2 lg:mb-0 align-items-center justify-content-evenly"
                style="margin-top: 2.9rem"
            >
                <app-check-box label="فعال" formControlName="IsActive">
                </app-check-box>
            </div>

            <div
                class="col-12 mb-2 lg:col-4 lg:mb-0 align-items-center justify-content-evenly"
                style="margin-top: 2.5rem"
            >
                <div class="inline-flex align-items-center">
                    <app-button-component
                        [classColor]="'p-button-raised'"
                        (action)="save()"
                        [Icon]="'pi pi-id-card'"
                        label="حفظ"
                        [isCustomLable]="true"
                        [pTooltipCustom]="'حفظ'"
                    >
                    </app-button-component>
                    <app-button-component
                        label="مسح الحقول"
                        class="pr-2"
                        (action)="clear()"
                        [classColor]="'p-button-raised p-button-secondary '"
                        [pTooltipCustom]="'مسح الحقول '"
                        [Icon]="'pi pi-eraser'"
                    ></app-button-component>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="card electronic-services">
    <div class="flex flex-column md:flex-row mb-3">
        <div class="text-900 text-xl font-semibold mb-3 md:mb-0">
            المركز الاعلامي - جداول الاقسام
        </div>
    </div>
    <hr />

    <ng-container *ngIf="MediaSectionsItems$ | async as data">
        <p-table
            styleClass="p-datatable-gridlines"
            [rows]="7"
            [paginator]="true"
             [style.width]="'100%'"
            [value]="data"

        >
            <ng-template pTemplate="header">
                <tr>
                    <th class="text-center">#</th>
                    <th class="text-center">الاسم عربي</th>
                    <th class="text-center">الاسم انجليزي</th>
                    <th class="text-center">القسم الرئيسي</th>
                    <th class="text-center">المركز الاجتماعي</th>
                    <th class="text-center">الترتيب</th>
                    <th class="text-center">صور القسم</th>
                    <th class="text-center">الاجراءات</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-index="rowIndex">
                <tr>
                    <td>
                        <span class="reorder-row-icon">{{ index + 1 }}</span>
                    </td>
                    <td>{{ item.TitleAr }}</td>
                    <td>{{ item.TitleEn }}</td>
                    <td *ngIf="item.MainServiceID === null"> - </td>
                    <td *ngIf="item.MainServiceID === 1"> التأهيل الطبي </td>
                    <td *ngIf="item.MainServiceID === 2"> الاطراف الصناعية </td>
                    <td *ngIf="item.MainServiceID === 3"> السمع والتوازن </td>
                    <td *ngIf="item.MainServiceID === 4"> العيادة الخارجية </td>
                    <td *ngIf="item.MediaSectionID === null"> - </td>
                    <td *ngIf="item.MediaSectionID === 1"> الاخبار </td>
                    <td *ngIf="item.MediaSectionID === 2"> معرض الصور</td>
                    <td *ngIf="item.MediaSectionID === 3"> معرض الفيديو</td>
                    <td *ngIf="item.MediaSectionID === 4"> المقالات الطبية</td>
                    <td *ngIf="item.MediaSectionID === 5"> فقصص صحفية</td>
                    <td *ngIf="item.MediaSectionID === 6"> فقصص رقمية</td>
                    <td>{{ item.Sorting }}</td>

                    <td class="text-center">
                        <app-icon-shared
                            [Icon]="'pi pi-plus'"
                            [classColor]="'var(--blue-400)'"
                            [pTooltipCustom]="'اضافة صور للقسم'"
                            (action)="addPhotosDialog(item)"
                        ></app-icon-shared>
                    </td>
                    <td class="text-center">
                        <app-icon-shared
                            [Icon]="'pi pi-pencil'"
                            [classColor]="'var(--blue-400)'"
                            [pTooltipCustom]="'تعديل '"
                            (action)="edit(item)"
                        ></app-icon-shared>

                        <app-icon-shared
                            [Icon]="'pi pi-trash'"
                            [classColor]="'var(--red-400)'"
                            [pTooltipCustom]="'حذف'"
                            (action)="deleteItem(item)"
                        ></app-icon-shared>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td class="text-center" colspan="6">لا يوجد بيانات</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer"> </ng-template>
            <ng-template pTemplate="loadingbody"> </ng-template>
        </p-table>
    </ng-container>
</div>



<app-add-photos-modal *ngIf="(addPhotosDialog$ | async).isOpen"></app-add-photos-modal>
