<div class="card">
    <div class="flex flex-column md:flex-row mb-3">
        <div class="text-900 text-xl font-semibold mb-3 md:mb-0">
            المركز الاعلامي
        </div>
    </div>
    <hr />
 <!--    <form [formGroup]="formMainInfo">
        <div class="grid p-fluid mt-3">
            <div class="col-12 mb-2 lg:col-12 lg:mb-0">
                <label for="">اضافة لوقو</label>
                <app-upload-files
                    (onSelectFiles)="fileSelected = $event"
                    [showFilesUploaded]="true"
                ></app-upload-files>
            </div>
            <div class="col-12 mb-2 lg:col-6 lg:mb-0">
                <app-input-field
                [label]="'اسم المستشفى  /عربي'"
                formControlName="HospitalNameAr">
            </app-input-field>
            </div>
            <div class="col-12 mb-2 lg:col-6 lg:mb-0">
                <app-input-field
                [label]="'اسم المستشفى  /انجلزي'"
                formControlName="HospitalNamEn">
            </app-input-field>
            </div>
            <div class="col-12 mb-2 lg:col-6 lg:mb-0">

                <app-text-area-field
                    [rows]="2"
                    [label]="'الوصف /عربي'"
                    formControlName="AboutAr"
                >
                </app-text-area-field>
            </div>
            <div class="col-12 mb-2 lg:col-6 lg:mb-0">
                <app-text-area-field
                    [rows]="2"
                    [label]="'وصف  /انجليزي'"
                    formControlName="AboutEn"
                >
                </app-text-area-field>
            </div>


            <div class="col-12 mb-2 lg:col-4 lg:mb-0">
                <app-input-field
                    [label]="'رابط فيسبوك'"
                    formControlName="FacebookLink"
                >
                </app-input-field>
            </div>
            <div class="col-12 mb-2 lg:col-4 lg:mb-0">
                <app-input-field
                    [label]="'رابط يوتيوب'"
                    formControlName="YoutubeLink"
                >
                </app-input-field>
            </div>
            <div class="col-12 mb-2 lg:col-4 lg:mb-0">
                <app-input-field
                    [label]="'رابط انستقرام'"
                    formControlName="InstagramLink"
                >
                </app-input-field>
            </div>
            <div class="col-12 mb-2 lg:col-4 lg:mb-0">
                <app-input-field
                    [label]="'رابط تويتر'"
                    formControlName="TwitterLink"
                >
                </app-input-field>
            </div>
            <div class="col-12 mb-2 lg:col-4 lg:mb-0">
                <app-input-field
                    [label]="'رابط واتس اب'"
                    formControlName="WhatsAppLink"
                >
                </app-input-field>
            </div>
            <div class="col-12 mb-2 lg:col-4 lg:mb-0">
                <app-input-field
                    [label]="'سوشيال ميديا هاشتاق'"
                    formControlName="SocialMediaTag"
                >
                </app-input-field>
            </div>
            <div class="col-12 mb-2 lg:col-3 lg:mb-0">
                <app-input-field
                    [label]="'الموقع  /عربي'"
                    formControlName="LocationAr"
                >
                </app-input-field>
            </div>
            <div class="col-12 mb-2 lg:col-3 lg:mb-0">
                <app-input-field
                    [label]="'الموقع  /انجلزي'"
                    formControlName="LocationAr"
                >
                </app-input-field>
            </div>
            <div class="col-12 mb-2 lg:col-2 lg:mb-0">
                <app-input-field
                    [label]="'موبايل'"
                    formControlName="Mobile"
                >
                </app-input-field>
            </div>
            <div class="col-12 mb-2 lg:col-2 lg:mb-0">
                <app-input-field
                    [label]="'الهاتف'"
                    formControlName="Phone"
                >
                </app-input-field>
            </div>
            <div class="col-12 mb-2 lg:col-2 lg:mb-0">
                <app-input-field
                    [label]="'الايميل'"
                    formControlName="Email"
                >
                </app-input-field>
            </div>
            <div
                class="col-12 mb-2 lg:col-4 lg:mb-0 align-items-center justify-content-evenly"
                style="margin-top: 2.5rem"
            >
                <div class="inline-flex align-items-center">
                    <app-button-component
                        [classColor]="'p-button-raised'"
                        (action)="save()"
                        [Icon]="'pi pi-id-card'"
                        label="حفظ"
                        [isCustomLable]="true"
                        [pTooltipCustom]="'حفظ'"
                    >
                    </app-button-component>
                    <app-button-component
                        label="مسح الحقول"
                        class="pr-2"
                        (action)="clear()"
                        [classColor]="'p-button-raised p-button-secondary '"
                        [pTooltipCustom]="'مسح الحقول '"
                        [Icon]="'pi pi-eraser'"
                    ></app-button-component>
                </div>
            </div>
        </div>
    </form> -->
</div>
