<div class="card">
    <div class="flex flex-column md:flex-row mb-3">
        <div class="text-900 text-xl font-semibold mb-3 md:mb-0">
            المركز الاعلامي
        </div>
    </div>
    <hr />
    <form [formGroup]="Form_MediaSectionsItems">
        <div class="grid p-fluid mt-3">
            <div class="col-12 mb-2 lg:col-2 lg:mb-0">
                <label for="">اضافة صورة</label>
                <br>
                <app-upload-files
                    #fileUpload
                    (onSelectFiles)="fileSelected = $event"
                    [showFilesUploaded]="true"
                    [multiple]="false"
                ></app-upload-files>
            </div>

            <div class="col-12 mb-2 lg:col-5 lg:mb-0">
                <app-text-area-field
                    [rows]="3"
                    [label]="'العنوان/عربي (مطلوب)'"
                    formControlName="TitleAr"
                >
                </app-text-area-field>
            </div>
            <div class="col-12 mb-2 lg:col-5 lg:mb-0">
                <app-text-area-field
                    [rows]="3"
                    [label]="'عنوان الخبر الفرعي'"
                    formControlName="SubTitleAr"
                >
                </app-text-area-field>
            </div>

            <!--   <div class="col-12 mb-2 lg:col-5 lg:mb-0">
                <app-input-field
                    [label]="'العنوان  /انجليزي'"
                    formControlName="TitleEn"
                >
                </app-input-field>
            </div> -->
            <div class="col-12 mb-2 lg:col-12 lg:mb-0">
                <label for="">الوصف /عربي</label>
                <div class="DescAr">
                    <p-editor
                        dir="rtl"
                        formControlName="DescAr"
                        [style]="{ height: '420px' }"
                    >
                    </p-editor>
                </div>
            </div>
            <!--   <div class="col-12 mb-2 lg:col-12 lg:mb-0">

                <label for="">وصف  /انجليزي</label>
                <p-editor dir="ltr" formControlName="DescEn" [style]="{'height':'420px'}">
                </p-editor>
            </div> -->

            <div class="col-12 mb-2 lg:col-2 lg:mb-0">
                <app-input-number-field   label="الترتيب"
                formControlName="Sorting"></app-input-number-field>
            </div>
            <div class="col-12 mb-2 lg:col-3 lg:mb-0 multi-select">
                <app-multi-select-field
                    [dropdownItems]="listSections"
                    formControlName="MediaSectionID"
                    [label]="' المركز الاعلامي (مطلوب)'"
                >
                </app-multi-select-field>
            </div>

            <div class="col-12 mb-2 lg:col-2 lg:mb-0">
                <app-select-field
                    [dropdownItems]="[
                        { Code: 6, Name: 'غير مصنف' },
                        { Code: 1, Name: 'التأهيل الطبي' },
                        { Code: 2, Name: 'الاطراف الصناعية' },
                        { Code: 3, Name: 'السمع والتوازن' },
                        { Code: 4, Name: 'العيادة الخارجية' },
                        { Code: 5, Name: 'خدمات طبية مساندة' },
                    ]"
                    formControlName="MainServiceID"
                    [label]="' القسم الرئيسي'"
                >
                </app-select-field>
            </div>
            <div class="col-12 mb-2 lg:col-5 lg:mb-0">
                <app-input-field
                    [label]="'اضافة لينك الفيديو / يوتيوب'"
                    formControlName="VideoPath"
                >
                </app-input-field>
            </div>
            <div
                class="col-12 mb-2 lg:col-1 lg:mb-0 align-items-center justify-content-evenly"
                style="margin-top: 2.9rem"
            >
                <app-check-box label="فعال" formControlName="IsActive">
                </app-check-box>
            </div>
            <div
                class="col-12 mb-2 lg:col-1 lg:mb-0 align-items-center justify-content-evenly"
                style="margin-top: 2.9rem"
            >
                <app-check-box label=" منوعات" formControlName="ShowVarious">
                </app-check-box>
            </div>
            <div
                class="col-12 mb-2 lg:col-4 lg:mb-0 align-items-center justify-content-evenly"
                style="margin-top: 3rem"
            >
                <app-check-box
                    label="قصص ملهمة (معرض فيديو - قصص صحفية)"
                    formControlName="ShowHome"
                >
                </app-check-box>
            </div>

            <div
                class="col-12 mb-2 lg:col-4 lg:mb-0 align-items-end justify-content-evenly"
                style="margin-top: 1.4rem"
            >
                <div class="inline-flex align-items-center">
                    <app-button-component
                        [classColor]="'p-button-raised'"
                        (action)="save()"
                        [Icon]="'pi pi-id-card'"
                        label="حفظ"
                        [isCustomLable]="true"
                        [pTooltipCustom]="'حفظ'"
                    >
                    </app-button-component>
                    <app-button-component
                        label="مسح الحقول"
                        class="pr-2"
                        (action)="clear()"
                        [classColor]="'p-button-raised p-button-secondary '"
                        [pTooltipCustom]="'مسح الحقول '"
                        [Icon]="'pi pi-eraser'"
                    ></app-button-component>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="card electronic-services">
    <div class="flex flex-column md:flex-row mb-3">
        <div class="text-900 text-xl font-semibold mb-3 md:mb-0">
            المركز الاعلامي - جداول الاقسام
        </div>
    </div>
    <hr />

    <ng-container *ngIf="MediaSectionsItems$ | async as data">
        <p-table
            styleClass="p-datatable-gridlines"
            [rows]="10"
            [paginator]="true"
            [style.width]="'100%'"
            [value]="MediaSectionsItems"
            [loading]="data.loading"
            #dt1
            [rowsPerPageOptions]="[10, 25, 50]"
            sortMode="multiple"
        >

            <ng-template pTemplate="caption">
                <div class="grid" style="place-items: end">
                    <div class="col-12 lg:col-4 serch-input">
                        <input
                            pInputText
                            type="text"
                            (input)="
                                dt1.filter(
                                    $any($event.target)?.value,
                                    'TitleAr',
                                    'contains'
                                )
                            "
                            [value]="$any(dt1.filters['TitleAr'])?.value"
                            placeholder="بحث العنوان"
                            class="w-full p-column-filter p-inputtext p-component p-element p-inputtext-sm"
                        />
                    </div>
                    <div class="col-12 lg:col-4 serch-input">
                        <app-select-field
                            [dropdownItems]="listSections"
                            [formControl]="MediaSectionID"
                            placeholder="المركز الاعلامي"
                            (onSelectionChange)="filterbySection()"
                        >
                        </app-select-field>

                        <!-- <input pInputText type="text" (input)="dt1.filter($any($event.target)?.value, 'MediaSectionName', 'contains')"
                        [value]="$any(dt1.filters['MediaSectionName'])?.value" placeholder="بحث المركز الاعلامي" class=" w-full  p-column-filter p-inputtext p-component p-element p-inputtext-sm"> -->
                    </div>
                    <div class="col-12 lg:col-4 serch-input">
                        <app-select-field
                            [dropdownItems]="[
                                { Code: 1, Name: 'التأهيل الطبي' },
                                { Code: 2, Name: 'الاطراف الصناعية' },
                                { Code: 3, Name: 'السمع والتوازن' },
                                { Code: 4, Name: 'العيادة الخارجية' },
                                { Code: 5, Name: 'خدمات طبية مساندة' },
                                { Code: 6, Name: 'غير مصنف' }
                            ]"
                            (onSelectionChange)="filterbyServices()"
                            [formControl]="MainServiceID"
                            placeholder="القسم الرئيسي"
                        >
                        </app-select-field>

                        <!-- <input pInputText type="text" (input)="dt1.filter($any($event.target)?.value, 'MainServiceName', 'contains')"
                        [value]="$any(dt1.filters['MainServiceName'])?.value" placeholder="بحث القسم الرئيسي" class=" w-full  p-column-filter p-inputtext p-component p-element p-inputtext-sm"> -->
                    </div>
                </div>
                <tr></tr>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th class="text-center">#</th>
                    <th
                        [width]="'20%'"
                        pSortableColumn="TitleAr"
                        class="text-center"
                    >
                        العنوان <p-sortIcon></p-sortIcon>
                    </th>
                    <th
                        [width]="'15%'"
                        pSortableColumn="MediaSectionName"
                        class="text-center"
                    >
                        المركز الاعلامي <p-sortIcon></p-sortIcon>
                    </th>
                    <th pSortableColumn="MainServiceName" class="text-center">
                        القسم الرئيسي <p-sortIcon></p-sortIcon>
                    </th>
                    <th pSortableColumn="CreatedDate" class="text-center">
                        تاريخ النشر <p-sortIcon></p-sortIcon>
                    </th>
                    <th pSortableColumn="Sorting" class="text-center">
                        الترتيب <p-sortIcon></p-sortIcon>
                    </th>
                    <th class="text-center">الصورة</th>
                    <th class="text-center">صور القسم</th>
                    <th class="text-center">الاجراءات</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-index="rowIndex">
                <tr>
                    <td>
                        <span class="reorder-row-icon">{{ index + 1 }}</span>
                    </td>
                    <td>
                        {{
                            isEn
                                ? item?.TitleEn
                                : (item?.TitleAr | slice : 0 : 40)
                        }}
                    </td>
                    <td>{{ item?.MediaSectionName }}</td>
                    <td>{{ item?.MainServiceName }}</td>
                    <td>{{ item?.CreatedDate | date }}</td>

                    <td>{{ item.Sorting }}</td>
                    <td>
                        <span>
                            <p-image
                                [src]="Avatar + item?.ImagePath"
                                alt="Image"
                                width="40px"
                                [preview]="true"
                            ></p-image>
                        </span>
                    </td>

                    <td class="text-center">
                        <!-- <ng-container
                            *ngIf="
                                item.MediaSectionID === '1'||
                                    item.MediaSectionID === '2' ||
                                    item.MediaSectionID === '5'||
                                    item.MediaSectionID === '6';
                                else ff
                            "
                        >
                    </ng-container> -->
                        <app-icon-shared
                            [Icon]="'pi pi-plus'"
                            [classColor]="'var(--blue-400)'"
                            [pTooltipCustom]="'اضافة صور للقسم'"
                            (action)="addPhotosDialog(item)"
                        ></app-icon-shared>

                        <ng-template #ff> - </ng-template>
                    </td>
                    <td class="text-center">
                        <app-icon-shared
                            [Icon]="'pi pi-pencil'"
                            [classColor]="'var(--blue-400)'"
                            [pTooltipCustom]="'تعديل '"
                            (action)="edit(item)"
                        ></app-icon-shared>

                        <app-icon-shared
                            [Icon]="'pi pi-trash'"
                            [classColor]="'var(--red-400)'"
                            [pTooltipCustom]="'حذف'"
                            (action)="deleteItem(item)"
                        ></app-icon-shared>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td class="text-center" colspan="6">لا يوجد بيانات</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer"> </ng-template>
            <ng-template pTemplate="loadingbody"> </ng-template>
        </p-table>
    </ng-container>
</div>

<app-add-photos-modal
    *ngIf="(addPhotosDialog$ | async).isOpen"
></app-add-photos-modal>
