

<div class="grid p-fluid mt-3">

    <div class="col-12 mb-2 lg:col-6 lg:mb-0">
        <form [formGroup]="formOutpatientClinicsSectionAr">
            <app-input-field
            [label]="'وحدة التشخيص / العربية'"
            formControlName="outpatientClinicsSectionAr"
        >
        </app-input-field>
        <div class="inline-flex align-items-center mt-3">
            <app-button-component
                [classColor]="'p-button-raised'"
                (action)="saveOutpatientClinicsSectionAr()"
                [Icon]="'pi pi-id-card'"
                label="حفظ"
                [isCustomLable]="true"
                [pTooltipCustom]="'حفظ'"
            >
            </app-button-component>
        </div>
        </form>

    </div>
    <div class="col-12 mb-2 lg:col-6 lg:mb-0">
        <form [formGroup]="formOutpatientClinicsSectionEn">
            <app-input-field
            [label]="'وحدة التشخيص / الانجليزية'"
            formControlName="outpatientClinicsSectionEn"
        >
        </app-input-field>
        <div class="inline-flex align-items-center mt-3">
            <app-button-component
                [classColor]="'p-button-raised'"
                (action)="saveOutpatientClinicsSectionEn()"
                [Icon]="'pi pi-id-card'"
                label="حفظ"
                [isCustomLable]="true"
                [pTooltipCustom]="'حفظ'"
            >
            </app-button-component>
        </div>
        </form>
    </div>


    <div
        class="col-12 mb-2 lg:col-4 lg:mb-0 align-items-center justify-content-evenly"  style="margin-top: 2.5rem"
    >

    </div>
</div>
<br />




