<div class="card">
    <div class="flex flex-column md:flex-row mb-3">
        <div class="text-900 text-xl font-semibold mb-3 md:mb-0">
            اضافة إعلانات
        </div>
    </div>
    <hr />
    <form [formGroup]="formAdvertisements">
        <div class="grid p-fluid mt-3">
            <div class="col-12 mb-2 lg:col-12 lg:mb-0">
                <app-text-area-field
                    [rows]="1"
                    [label]="'عنوان الإعلان'"
                    formControlName="TitleAr"
                >
                </app-text-area-field>
            </div>
            <div class="col-12 mb-2 lg:col-12 lg:mb-0 lang-en">
                <app-text-area-field
                    [rows]="1"
                    [label]="'Title'"
                    formControlName="TitleEn">
                </app-text-area-field>
            </div>


            <div class="col-12 mb-2 lg:col-12 lg:mb-0 Description">
                <label>الوصف</label>
                <div class="DescEn">
                    <ckeditor
                        [dir]="'ltl'"
                        formControlName="DescriptionAr"
                        [editor]="Editor"
                        data="<p>Hello, world!</p>"
                    ></ckeditor>
                </div>
            </div>


            <div class="col-12 mb-2 lg:col-12 lg:mb-0 lang-en">
                <label>Description</label>
                    <ckeditor
                       style="text-align: left !important;"
                        formControlName="DescriptionEn"
                        [editor]="Editor"
                        data="<p>Hello, world!</p>"
                    ></ckeditor>
            </div>


            <div class="col-12 mb-2 lg:col-2 lg:mb-0">
                <app-input-field
                    [label]="'اسم الزر  /عربي'"
                    formControlName="ButtonTitleAr"
                >
                </app-input-field>
            </div>
             <div class="col-12 mb-2 lg:col-2 lg:mb-0 lang-en">
                <app-input-field
                    [label]="'ButtonTitle'"
                    formControlName="ButtonTitleEn"
                >
                </app-input-field>
            </div>
            <div class="col-12 mb-2 lg:col-3 lg:mb-0">
                <app-input-field
                    [label]="'لينك الاعلان '"
                    formControlName="ButtonLink"
                >
                </app-input-field>
            </div>

            <div class="col-12 mb-2 lg:col-2 lg:mb-0">
                <ng-container *ngIf="codes$ |async as code">
                    <app-select-field
                    (onSelectionChange)="onChange($event)"
                    [dropdownItems]="code"
                    [optionLabel]="'Name'"
                    [optionValue]="'ID'"
                    formControlName="CategoryID"
                    [label]="'تصنيف الإعلان'"
                >
                </app-select-field>
                  </ng-container>
            </div>
            <div class="col-12 mb-2 lg:col-2 lg:mb-0">
                <app-input-number-field   label="الترتيب"
                formControlName="Sorting"></app-input-number-field>
            </div>
            <div
                class="col-12 mb-2 lg:col-1 lg:mb-0 align-items-center justify-content-evenly"
                style="margin-top: 2.9rem">
                <app-check-box label="فعال" formControlName="IsActive">
                </app-check-box>
            </div>
            <div
                class="col-12 mb-2 lg:col-2 lg:mb-0 align-items-center justify-content-evenly"
                style="margin-top: 2.9rem"
            >
                <app-check-box label="اضافة زر" formControlName="ButtonAdded">
                </app-check-box>
            </div>
            <div
                class="col-12 mb-2 lg:col-4 lg:mb-0 align-items-center justify-content-evenly"
                style="margin-top: 2.5rem"
            >
                <div class="inline-flex align-items-center">
                    <app-button-component
                        [classColor]="'p-button-raised'"
                        (action)="save()"
                        [Icon]="'pi pi-id-card'"
                        label="حفظ"
                        [isCustomLable]="true"
                        [pTooltipCustom]="'حفظ'"
                    >
                    </app-button-component>
                    <app-button-component
                        label="مسح الحقول"
                        class="pr-2"
                        (action)="clear()"
                        [classColor]="'p-button-raised p-button-secondary '"
                        [pTooltipCustom]="'مسح الحقول '"
                        [Icon]="'pi pi-eraser'"
                    ></app-button-component>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="card">
    <div class="flex flex-column md:flex-row mb-3">
        <div class="text-900 text-xl font-semibold mb-3 md:mb-0">
             الإعلانات الحالية
        </div>
    </div>
    <hr/>

    <ng-container *ngIf="dataTable$ | async as data">
        <p-table
            styleClass="p-datatable-gridlines"
            (onRowReorder)="onRowReorder($event, data)"
            [reorderableColumns]="true"
            [rows]="10"
            [paginator]="true"
            [style.width]="'100%'"
            [value]="data.data"
            [loading]="data.loading"
            [rowsPerPageOptions]="[10, 25, 50]"
            #dt1
        >
          <ng-template pTemplate="caption">
            <div class="grid">
                <div class="col-12 lg:col-6 serch-input">
                    <input pInputText type="text" (input)="dt1.filter($any($event.target)?.value, 'TitleAr', 'contains')"
                    [value]="$any(dt1.filters['TitleAr'])?.value" placeholder="بحث الوصف" class=" w-full p-column-filter p-inputtext p-component p-element p-inputtext-sm  ">
                </div>
               <div class="col-12 lg:col-3 serch-input">
                   <input pInputText type="text" (input)="dt1.filter($any($event.target)?.value, 'Sorting', 'contains')"
                   [value]="$any(dt1.filters['Sorting'])?.value" placeholder="بحث الترتيب" class=" w-full p-column-filter p-inputtext p-component p-element p-inputtext-sm  ">
               </div>

           </div>
           <tr>
       </tr>
       </ng-template>

            <ng-template pTemplate="header">
                <tr>
                    <th class="text-center">#</th>
                    <th pSortableColumn="TitleAr" class="text-center">العنوان <p-sortIcon ></p-sortIcon></th>
                     <th class="text-center">Description</th>
                    <th class="text-center">لينك التقديم</th>
                    <th pSortableColumn="CreatedDate" class="text-center">
                        تاريخ النشر <p-sortIcon></p-sortIcon>
                    </th>
<!--                     <th pSortableColumn="Sorting" class="text-center">الترتيب <p-sortIcon ></p-sortIcon></th>
 -->                    <th class="text-center">الحالة</th>
                    <th class="text-center">الاجراءات</th>
                </tr>
            </ng-template>
            <ng-template  pTemplate="body" let-item let-index="rowIndex">
                <tr [pReorderableRow]="index">
                    <td>
                        <span
                            class="pi pi-bars"
                            pReorderableRowHandle
                        ></span>
                    </td>
                    <td style="width: 20%;">{{ item.TitleAr }}</td>
                    <td style="width: 25%;">{{ item.TitleEn }}</td>
                    <td style="width: 15%;"> <a [href]="item.ButtonLink" target="_blank">  {{ item.ButtonLink }}</a> </td>
                    <td  style="width: 15%;">{{ item?.CreatedDate | date }}</td>

<!--                     <td  style="width: 5%;">{{ item.Sorting }}</td>
 -->                    <td  style="width: 5%;">{{ item.IsActive?'فعال':'غير فعال' }}</td>
                    <td  style="width: 40%;" class="text-center d-flex " >
                        <app-icon-shared
                            [Icon]="'pi pi-pencil'"
                            [classColor]="'var(--blue-400)'"
                            [pTooltipCustom]="'تعديل البيانات'"
                            (action)="editItem(item)"
                        ></app-icon-shared>

                        <app-icon-shared
                            [Icon]="'pi pi-trash'"
                            [classColor]="'var(--red-400)'"
                            [pTooltipCustom]="'حذف'"
                            (action)="deleteItem(item)"
                        ></app-icon-shared>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td class="text-center" colspan="6">لا يوجد بيانات</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer"> </ng-template>
            <ng-template pTemplate="loadingbody"> </ng-template>
        </p-table>
    </ng-container>

</div>
