
<div class="card electronic-services">
    <div class="flex flex-column md:flex-row  mb-3">
    <div class="text-900 text-xl font-semibold mb-3 md:mb-0">
        صفحة الخدمات الالكترونية
    </div>
    </div>
    <hr />
    <br />  <!-- (onChange)="onChange($event)" -->
        <p-tabView >

            <form [formGroup]="Form_search">
                <div class="grid p-fluid mt-3">

                    <div class="col-12 mb-2 lg:col-2 lg:mb-0">
                        <app-input-field [label]="'الاسم'" formControlName="FullName">
                        </app-input-field>
                    </div>
                    <div class="col-12 mb-2 lg:col-2 lg:mb-0">
                        <app-input-field
                            [label]="'رقم الهوية'"
                            formControlName="IdentityNumber"
                        >
                        </app-input-field>
                    </div>
                    <div class="col-12 mb-2 lg:col-2 lg:mb-0">
                        <app-input-field label="العنوان" formControlName="Address">
                        </app-input-field>
                    </div>
                    <div class="col-12 mb-2 lg:col-2 lg:mb-0">
                        <app-input-field label="القسم" formControlName="DepartmentID">
                        </app-input-field>
                    </div>
                    <div class="col-12 mb-2 lg:col-2 lg:mb-0">
                        <app-calender-feild label="الموعد / من" formControlName="FromAppointment">
                        </app-calender-feild>
                    </div>
                    <div class="col-12 mb-2 lg:col-2 lg:mb-0">
                        <app-calender-feild label="الموعد / الى" formControlName="ToAppointment">
                        </app-calender-feild>
                    </div>

                    <div class="col-12 mb-2 lg:col-3 lg:mb-0 align-items-center justify-content-evenly">
                        <div class="inline-flex align-items-center">
                            <app-button-component
                                [classColor]="'p-button-raised'"
                                (action)="saveFormSerch()"
                                [Icon]="'pi pi-id-card'"
                                label="بحث"
                                [isCustomLable]="true"
                                [pTooltipCustom]="'بحث متقدم'"
                            >
                            </app-button-component>
                            <app-button-component
                                label="مسح الحقول"
                                class="pr-2"
                                (action)="clearFormSerch()"
                                [classColor]="'p-button-raised p-button-secondary '"
                                [pTooltipCustom]="'مسح الحقول '"
                                [Icon]="'pi pi-eraser'"
                            ></app-button-component>
                        </div>
                    </div>

                </div>
                <br />
            </form>
            <p-tabPanel header=" المواعيد" >
                <ng-container *ngIf="PublicServices$ | async as data">
                    <div class="flex justify-content-end mb-2">
                        <app-button-component
                        [classColor]="'purple-500 '"
                        [Icon]="'pi pi-print'"
                        label="تصدير اكسل"
                        [isCustomLable]="true"
                        [pTooltipCustom]="'تصدير اكسل'"
                        (click)="excel()"
                    >
                    </app-button-component>
                    </div>
                      <!-- <div class="lg:md-3">
                                <app-search-field
                                    #filter
                                    (input)="onGlobalFilter(dt1, $event)"
                                    pInputText
                                    type="text"
                                    placeholder="Search"
                                    class="w-full"
                                ></app-search-field>
                            </div> -->
                    <p-table
                    dir="rtl"
                        styleClass="p-datatable-gridlines"
                        [rows]="10"
                        [paginator]="true"
                        #dt1
                         [style.width]="'100%'"
                        [value]="data.data"
                        [loading]="data.loading"
                        [rowHover]="true"
                        styleClass="p-datatable-gridlines" [paginator]="true"
                        [globalFilterFields]="['FullName','Email','PhoneNumber','Address','Appointment', 'DepartmentID']"
                        responsiveLayout="scroll"
                        [filterDelay]="0"
                    >

                        <ng-template pTemplate="header">
                            <tr>
                                <th class="text-center">#</th>
                                <th class="text-center">الاسم كامل</th>
                                <th class="text-center">رقم الهوية</th>
                                <th class="text-center">الايميل</th>
                                <th class="text-center">الموبايل</th>
                                <th class="text-center">العنوان بالكامل</th>
                                <th class="text-center">الموعد</th>
                                <th class="text-center">القسم</th>
                                <th class="text-center">عرض الرسالة</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item let-index="rowIndex">
                            <tr>
                                <td>
                                    <span class="reorder-row-icon">{{ index + 1 }}</span>
                                </td>
                                <td>{{ item.FullName }}</td>
                                <td>{{ item.IdentityNumber }}</td>
                                <td>{{ item.Email }}</td>
                                <td>{{ item.PhoneNumber }}</td>
                                <td>{{ item.Address }}</td>
                                <td>{{ item.Appointment | date }}</td>
                                <td *ngIf="item.DepartmentID ===null"> - </td>
                                <td *ngIf="item.DepartmentID ===0"> - </td>
                                <td *ngIf="item.DepartmentID ===1"> العظام</td>
                                <td *ngIf="item.DepartmentID ===2"> القلب</td>
                                <td *ngIf="item.DepartmentID ===3"> الاطراف الصناعية</td>
                                <td *ngIf="item.DepartmentID ===4"> العيون</td>
                                <td class="text-center">
                                    <app-icon-shared
                                        [Icon]="'pi pi-eye'"
                                        [classColor]="'var(--blue-400)'"
                                        [pTooltipCustom]="'عرض الرسالة'"
                                        (action)="openDialog(item)"
                                    ></app-icon-shared>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td class="text-center" colspan="6">لا يوجد بيانات</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="footer"> </ng-template>
                        <ng-template pTemplate="loadingbody"> </ng-template>
                    </p-table>
                    <!-- ----------------------------------------------- -->

                    <div
                    [hidden]="true"
                    style="width: 100%; direction: rtl !important"
                    id="my-table-pdf"
                    dir="rtl"
                               >
                <p-table
                styleClass="p-datatable-gridlines"
                [rows]="10"
                [paginator]="true"
                 [style.width]="'100%'"
                [value]="data.data"
                [loading]="data.loading"
                [rowHover]="true"
                styleClass="p-datatable-gridlines" [paginator]="true"
                [globalFilterFields]="['FullName','Email','PhoneNumber','Address','Appointment', 'DepartmentID']"
                responsiveLayout="scroll"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th class="text-center">#</th>
                        <th class="text-center">الاسم كامل</th>
                        <th class="text-center">رقم الهوية</th>
                        <th class="text-center">الايميل</th>
                        <th class="text-center">الموبايل</th>
                        <th class="text-center">العنوان بالكامل</th>
                        <th class="text-center">الموعد</th>
                        <th class="text-center">القسم</th>
                        <th class="text-center">عرض الرسالة</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-index="rowIndex">
                    <tr>
                        <td>
                            <span class="reorder-row-icon">{{ index + 1 }}</span>
                        </td>
                        <td>{{ item.FullName }}</td>
                        <td>{{ item.IdentityNumber }}</td>
                        <td>{{ item.Email }}</td>
                        <td>{{ item.PhoneNumber }}</td>
                        <td>{{ item.Address }}</td>
                        <td>{{ item.Appointment | date }}</td>
                        <td *ngIf="item.DepartmentID ===null"> - </td>
                        <td *ngIf="item.DepartmentID ===0"> - </td>
                        <td *ngIf="item.DepartmentID ===1"> العظام</td>
                        <td *ngIf="item.DepartmentID ===2"> القلب</td>
                        <td *ngIf="item.DepartmentID ===3"> الاطراف الصناعية</td>
                        <td *ngIf="item.DepartmentID ===4"> العيون</td>
                        <td class="text-center">
                            <app-icon-shared
                                [Icon]="'pi pi-eye'"
                                [classColor]="'var(--blue-400)'"
                                [pTooltipCustom]="'عرض الرسالة'"
                                (action)="openDialog(item)"
                            ></app-icon-shared>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td class="text-center" colspan="6">لا يوجد بيانات</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="footer"> </ng-template>
                <ng-template pTemplate="loadingbody"> </ng-template>
            </p-table>
            </div>



                    <!-- ----------------------------------------- -->
                </ng-container>
            </p-tabPanel>
            <p-tabPanel header="الاقتراحات والشكاوي">
                <ng-container *ngIf="Suggestion$  | async as data">
                    <div class="flex justify-content-end mb-2">
                        <app-button-component
                        [classColor]="'purple-500 '"
                        [Icon]="'pi pi-print'"
                        label="تصدير اكسل"
                        [isCustomLable]="true"
                        [pTooltipCustom]="'تصدير اكسل'"
                        (click)="excel_2()"
                    >
                    </app-button-component>
                  <!--   <app-button-component
                    [classColor]="'purple-500 '"
                    [Icon]="'pi pi-print'"
                    label="طباعة"
                    [isCustomLable]="true"
                    [pTooltipCustom]="'طباعة البيانات'"
                    (click)="printButton2.click()"
                >
                </app-button-component> -->
                <button
                [hidden]="true"
                #printButton2
                [useExistingCss]="true"
                printSectionId="my-table-pdf"
                ngxPrint
            >
                print
            </button>
                    </div>
                    <p-table
                        styleClass="p-datatable-gridlines"
                        [rows]="10"
                        [paginator]="true"
                         [style.width]="'100%'"
                        [value]="data.data"
                        [loading]="data.loading"
                    >
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="text-center">#</th>
                                <th class="text-center">الاسم كامل</th>
                                <th class="text-center">رقم الهوية</th>

                                <th class="text-center">الايميل</th>
                                <th class="text-center">الموبايل</th>
                                <th class="text-center">العنوان بالكامل</th>
                                <th class="text-center">عرض الرسالة</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item let-index="rowIndex">
                            <tr>
                                <td>
                                    <span class="reorder-row-icon">{{ index + 1 }}</span>
                                </td>
                                <td>{{ item.FullName }}</td>
                                <td>{{ item.IdentityNumber }}</td>
                                <td>{{ item.Email }}</td>
                                <td>{{ item.PhoneNumber }}</td>
                                <td>{{ item.Address }}</td>
                                <td class="text-center">
                                    <app-icon-shared
                                        [Icon]="'pi pi-eye'"
                                        [classColor]="'var(--blue-400)'"
                                        [pTooltipCustom]="'عرض الرسالة'"
                                        (action)="openDialog(item)"
                                    ></app-icon-shared>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td class="text-center" colspan="6">لا يوجد بيانات</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="footer"> </ng-template>
                        <ng-template pTemplate="loadingbody"> </ng-template>
                    </p-table>
<!-- ----------------------------------------------------- -->
                    <div
                    [hidden]="true"
                    style="width: 100%; direction: rtl !important"
                    id="my-table-pdf"
                    dir="rtl"
                               >
                               <p-table
                               styleClass="p-datatable-gridlines"
                               [rows]="10"
                               [paginator]="true"
                                [style.width]="'100%'"
                               [value]="data.data"
                               [loading]="data.loading"
                           >
                               <ng-template pTemplate="header">
                                   <tr>
                                       <th class="text-center">#</th>
                                       <th class="text-center">الاسم كامل</th>
                                       <th class="text-center">رقم الهوية</th>

                                       <th class="text-center">الايميل</th>
                                       <th class="text-center">الموبايل</th>
                                       <th class="text-center">العنوان بالكامل</th>
                                       <th class="text-center">عرض الرسالة</th>
                                   </tr>
                               </ng-template>
                               <ng-template pTemplate="body" let-item let-index="rowIndex">
                                   <tr>
                                       <td>
                                           <span class="reorder-row-icon">{{ index + 1 }}</span>
                                       </td>
                                       <td>{{ item.FullName }}</td>
                                       <td>{{ item.IdentityNumber }}</td>
                                       <td>{{ item.Email }}</td>
                                       <td>{{ item.PhoneNumber }}</td>
                                       <td>{{ item.Address }}</td>
                                       <td class="text-center">
                                           <app-icon-shared
                                               [Icon]="'pi pi-eye'"
                                               [classColor]="'var(--blue-400)'"
                                               [pTooltipCustom]="'عرض الرسالة'"
                                               (action)="openDialog(item)"
                                           ></app-icon-shared>
                                       </td>
                                   </tr>
                               </ng-template>
                               <ng-template pTemplate="emptymessage">
                                   <tr>
                                       <td class="text-center" colspan="6">لا يوجد بيانات</td>
                                   </tr>
                               </ng-template>
                               <ng-template pTemplate="footer"> </ng-template>
                               <ng-template pTemplate="loadingbody"> </ng-template>
                           </p-table>

                               </div>



                </ng-container>
            </p-tabPanel>
            <p-tabPanel header="تقييم أداء">
                <ng-container *ngIf="Rating$  | async as data">
                    <div class="flex justify-content-end mb-2">
                        <app-button-component
                        [classColor]="'purple-500 '"
                        [Icon]="'pi pi-print'"
                        label="تصدير اكسل"
                        [isCustomLable]="true"
                        [pTooltipCustom]="'تصدير اكسل'"
                        (click)="excel_3()"
                    >
                    </app-button-component>
                    <!-- <app-button-component
                    [classColor]="'purple-500 '"
                    [Icon]="'pi pi-print'"
                    label="طباعة"
                    [isCustomLable]="true"
                    [pTooltipCustom]="'طباعة البيانات'"
                    (click)="printButton3.click()"
                >
                </app-button-component> -->
                <button
                [hidden]="true"
                #printButton3
                [useExistingCss]="true"
                printSectionId="my-table-pdf"
                ngxPrint
            >
                print
            </button>
                    </div>
                    <p-table
                        styleClass="p-datatable-gridlines"
                        [rows]="10"
                        [paginator]="true"
                         [style.width]="'100%'"
                        [value]="data.data"
                        [loading]="data.loading"
                    >
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="text-center">#</th>
                                <th class="text-center">الاسم كامل</th>
                                <th class="text-center">الايميل</th>
                                <th class="text-center">الموبايل</th>
                                <th class="text-center">العنوان بالكامل</th>
                                <th class="text-center">التقييم الاداء</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item let-index="rowIndex">
                            <tr>
                                <td>
                                    <span class="reorder-row-icon">{{ index + 1 }}</span>
                                </td>
                                <td>{{ item.FullName }}</td>
                                <td>{{ item.Email }}</td>
                                <td>{{ item.PhoneNumber }}</td>
                                <td>{{ item.Address }}</td>
                                <td>{{item.HospitalRating}}</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td class="text-center" colspan="6">لا يوجد بيانات</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="footer"> </ng-template>
                        <ng-template pTemplate="loadingbody"> </ng-template>
                    </p-table>


                    <!-- ------------------------------------------ -->
                    <div
                    [hidden]="true"
                    style="width: 100%; direction: rtl !important"
                    id="my-table-pdf"
                    dir="rtl"
                               >
                               <p-table
                               styleClass="p-datatable-gridlines"
                               [rows]="10"
                               [paginator]="true"
                                [style.width]="'100%'"
                               [value]="data.data"
                               [loading]="data.loading"
                           >
                               <ng-template pTemplate="header">
                                   <tr>
                                       <th class="text-center">#</th>
                                       <th class="text-center">الاسم كامل</th>
                                       <th class="text-center">الايميل</th>
                                       <th class="text-center">الموبايل</th>
                                       <th class="text-center">العنوان بالكامل</th>
                                       <th class="text-center">التقييم الاداء</th>
                                   </tr>
                               </ng-template>
                               <ng-template pTemplate="body" let-item let-index="rowIndex">
                                   <tr>
                                       <td>
                                           <span class="reorder-row-icon">{{ index + 1 }}</span>
                                       </td>
                                       <td>{{ item.FullName }}</td>
                                       <td>{{ item.Email }}</td>
                                       <td>{{ item.PhoneNumber }}</td>
                                       <td>{{ item.Address }}</td>
                                       <td>{{item.HospitalRating}}</td>
                                   </tr>
                               </ng-template>
                               <ng-template pTemplate="emptymessage">
                                   <tr>
                                       <td class="text-center" colspan="6">لا يوجد بيانات</td>
                                   </tr>
                               </ng-template>
                               <ng-template pTemplate="footer"> </ng-template>
                               <ng-template pTemplate="loadingbody"> </ng-template>
                           </p-table>

                               </div>
                    <!-- ------------------------------------------ -->
                </ng-container>
            </p-tabPanel>
            <p-tabPanel header="الزائريين">
                <ng-container *ngIf="Visitors$  | async as data">
                    <div class="flex justify-content-end mb-2">
                        <app-button-component
                        [classColor]="'purple-500 '"
                        [Icon]="'pi pi-print'"
                        label="تصدير اكسل"
                        [isCustomLable]="true"
                        [pTooltipCustom]="'تصدير اكسل'"
                        (click)="excel_4()"
                    >
                    </app-button-component>
                    <!-- <app-button-component
                    [classColor]="'purple-500 '"
                    [Icon]="'pi pi-print'"
                    label="طباعة"
                    [isCustomLable]="true"
                    [pTooltipCustom]="'طباعة البيانات'"
                    (click)="printButton4.click()"
                >
                </app-button-component> -->
                <button
                [hidden]="true"
                #printButton4
                [useExistingCss]="true"
                printSectionId="my-table-pdf"
                ngxPrint
            >
                print
            </button>
                    </div>
                    <p-table
                        styleClass="p-datatable-gridlines"
                        [rows]="10"
                        [paginator]="true"
                         [style.width]="'100%'"
                        [value]="data.data"
                        [loading]="data.loading"
                    >
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="text-center">#</th>
                                <th class="text-center">الاسم كامل</th>
                                <th class="text-center">الايميل</th>
                                <th class="text-center">الموبايل</th>
                                <th class="text-center">العنوان بالكامل</th>
                                <th class="text-center">سبب التواصل</th>
                                <th class="text-center">عرض الرسالة</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item let-index="rowIndex">
                            <tr>
                                <td>
                                    <span class="reorder-row-icon">{{ index + 1 }}</span>
                                </td>
                                <td>{{ item.FullName }}</td>
                                <td>{{ item.Email }}</td>
                                <td>{{ item.PhoneNumber }}</td>
                                <td>{{ item.Address }}</td>
                                <td *ngIf="item.CommunicationReason ===null"> - </td>
                                <td *ngIf="item.CommunicationReason ===0"> - </td>
                                <td *ngIf="item.CommunicationReason ===1"> اقتراح</td>
                                <td *ngIf="item.CommunicationReason ===2"> ملاحظة</td>
                                <td *ngIf="item.CommunicationReason ===3"> شكوى</td>
                                <td *ngIf="item.CommunicationReason ===4"> استفسار</td>

                                <td class="text-center">
                                    <app-icon-shared
                                        [Icon]="'pi pi-eye'"
                                        [classColor]="'var(--blue-400)'"
                                        [pTooltipCustom]="'عرض الرسالة'"
                                        (action)="openDialog(item)"
                                    ></app-icon-shared>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td class="text-center" colspan="6">لا يوجد بيانات</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="footer"> </ng-template>
                        <ng-template pTemplate="loadingbody"> </ng-template>
                    </p-table>
                    <!-- ------------------------------------------------ -->

                    <div
                    [hidden]="true"
                    style="width: 100%; direction: rtl !important"
                    id="my-table-pdf"
                    dir="rtl"
                               >
                               <p-table
                               styleClass="p-datatable-gridlines"
                               [rows]="10"
                               [paginator]="true"
                                [style.width]="'100%'"
                               [value]="data.data"
                               [loading]="data.loading"
                           >
                               <ng-template pTemplate="header">
                                   <tr>
                                       <th class="text-center">#</th>
                                       <th class="text-center">الاسم كامل</th>
                                       <th class="text-center">الايميل</th>
                                       <th class="text-center">الموبايل</th>
                                       <th class="text-center">العنوان بالكامل</th>
                                       <th class="text-center">سبب التواصل</th>
                                       <th class="text-center">عرض الرسالة</th>
                                   </tr>
                               </ng-template>
                               <ng-template pTemplate="body" let-item let-index="rowIndex">
                                   <tr>
                                       <td>
                                           <span class="reorder-row-icon">{{ index + 1 }}</span>
                                       </td>
                                       <td>{{ item.FullName }}</td>
                                       <td>{{ item.Email }}</td>
                                       <td>{{ item.PhoneNumber }}</td>
                                       <td>{{ item.Address }}</td>
                                       <td *ngIf="item.CommunicationReason ===null"> - </td>
                                       <td *ngIf="item.CommunicationReason ===0"> - </td>
                                       <td *ngIf="item.CommunicationReason ===1"> اقتراح</td>
                                       <td *ngIf="item.CommunicationReason ===2"> ملاحظة</td>
                                       <td *ngIf="item.CommunicationReason ===3"> شكوى</td>
                                       <td *ngIf="item.CommunicationReason ===4"> استفسار</td>

                                       <td class="text-center">
                                           <app-icon-shared
                                               [Icon]="'pi pi-eye'"
                                               [classColor]="'var(--blue-400)'"
                                               [pTooltipCustom]="'عرض الرسالة'"
                                               (action)="openDialog(item)"
                                           ></app-icon-shared>
                                       </td>
                                   </tr>
                               </ng-template>
                               <ng-template pTemplate="emptymessage">
                                   <tr>
                                       <td class="text-center" colspan="6">لا يوجد بيانات</td>
                                   </tr>
                               </ng-template>
                               <ng-template pTemplate="footer"> </ng-template>
                               <ng-template pTemplate="loadingbody"> </ng-template>
                           </p-table>
                            </div>
                    <!-- ------------------------------------------------ -->
                </ng-container>
            </p-tabPanel>
            <p-tabPanel header="طلبات التغطية الصحفية">
                <ng-container *ngIf="PressCoverageRequest$  | async as data">
                    <div class="flex justify-content-end mb-2">
                        <app-button-component
                        [classColor]="'purple-500 '"
                        [Icon]="'pi pi-print'"
                        label="تصدير اكسل"
                        [isCustomLable]="true"
                        [pTooltipCustom]="'تصدير اكسل'"
                        (click)="excel_5()"
                    >
                    </app-button-component>
                   <!--  <app-button-component
                    [classColor]="'purple-500 '"
                    [Icon]="'pi pi-print'"
                    label="طباعة"
                    [isCustomLable]="true"
                    [pTooltipCustom]="'طباعة البيانات'"
                    (click)="printButton5.click()"
                >
                </app-button-component> -->
                <button
                [hidden]="true"
                #printButton5
                [useExistingCss]="true"
                printSectionId="my-table-pdf"
                ngxPrint
            >
                print
            </button>
                    </div>
                    <p-table
                        styleClass="p-datatable-gridlines"
                        [rows]="10"
                        [paginator]="true"
                         [style.width]="'100%'"
                        [value]="data.data"
                        [loading]="data.loading"
                    >
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="text-center">#</th>
                                <th class="text-center">الاسم كامل</th>
                                <th class="text-center">الايميل</th>
                                <th class="text-center">الموبايل</th>
                                <th class="text-center">العنوان بالكامل</th>
                                <th class="text-center">عرض الرسالة</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item let-index="rowIndex">
                            <tr>
                                <td>
                                    <span class="reorder-row-icon">{{ index + 1 }}</span>
                                </td>
                                <td>{{ item.FullName }}</td>
                                <td>{{ item.Email }}</td>
                                <td>{{ item.PhoneNumber }}</td>
                                <td>{{ item.Address }}</td>
                                <td class="text-center">
                                    <app-icon-shared
                                        [Icon]="'pi pi-eye'"
                                        [classColor]="'var(--blue-400)'"
                                        [pTooltipCustom]="'عرض الرسالة'"
                                        (action)="openDialog(item)"
                                    ></app-icon-shared>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td class="text-center" colspan="6">لا يوجد بيانات</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="footer"> </ng-template>
                        <ng-template pTemplate="loadingbody"> </ng-template>
                    </p-table>
                    <!-- ---------------------------------------- -->
                    <div
                    [hidden]="true"
                    style="width: 100%; direction: rtl !important"
                    id="my-table-pdf"
                    dir="rtl"
                               >
                               <p-table
                               styleClass="p-datatable-gridlines"
                               [rows]="10"
                               [paginator]="true"
                                [style.width]="'100%'"
                               [value]="data.data"
                               [loading]="data.loading"
                           >
                               <ng-template pTemplate="header">
                                   <tr>
                                       <th class="text-center">#</th>
                                       <th class="text-center">الاسم كامل</th>
                                       <th class="text-center">الايميل</th>
                                       <th class="text-center">الموبايل</th>
                                       <th class="text-center">العنوان بالكامل</th>
                                       <th class="text-center">عرض الرسالة</th>
                                   </tr>
                               </ng-template>
                               <ng-template pTemplate="body" let-item let-index="rowIndex">
                                   <tr>
                                       <td>
                                           <span class="reorder-row-icon">{{ index + 1 }}</span>
                                       </td>
                                       <td>{{ item.FullName }}</td>
                                       <td>{{ item.Email }}</td>
                                       <td>{{ item.PhoneNumber }}</td>
                                       <td>{{ item.Address }}</td>
                                       <td class="text-center">
                                           <app-icon-shared
                                               [Icon]="'pi pi-eye'"
                                               [classColor]="'var(--blue-400)'"
                                               [pTooltipCustom]="'عرض الرسالة'"
                                               (action)="openDialog(item)"
                                           ></app-icon-shared>
                                       </td>
                                   </tr>
                               </ng-template>
                               <ng-template pTemplate="emptymessage">
                                   <tr>
                                       <td class="text-center" colspan="6">لا يوجد بيانات</td>
                                   </tr>
                               </ng-template>
                               <ng-template pTemplate="footer"> </ng-template>
                               <ng-template pTemplate="loadingbody"> </ng-template>
                           </p-table>


                               </div>
                    <!-- ---------------------------------------- -->
                </ng-container>
            </p-tabPanel>
            <p-tabPanel header="طلبات الزيارة">
                <ng-container *ngIf="VisitRequest$  | async as data">
                    <div class="flex justify-content-end mb-2">
                        <app-button-component
                        [classColor]="'purple-500 '"
                        [Icon]="'pi pi-print'"
                        label="تصدير اكسل"
                        [isCustomLable]="true"
                        [pTooltipCustom]="'تصدير اكسل'"
                        (click)="excel_6()"
                    >
                    </app-button-component>
                    <!-- <app-button-component
                    [classColor]="'purple-500 '"
                    [Icon]="'pi pi-print'"
                    label="طباعة"
                    [isCustomLable]="true"
                    [pTooltipCustom]="'طباعة البيانات'"
                    (click)="printButton.click()"
                >
                </app-button-component> -->
                <button
                [hidden]="true"
                #printButton
                [useExistingCss]="true"
                printSectionId="my-table-pdf"
                ngxPrint
            >
                print
            </button>
                    </div>
                    <p-table
                        styleClass="p-datatable-gridlines"
                        [rows]="10"
                        [paginator]="true"
                         [style.width]="'100%'"
                        [value]="data.data"
                        [loading]="data.loading"
                    >
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="text-center">#</th>
                                <th class="text-center">الاسم كامل</th>
                                <th class="text-center">الايميل</th>
                                <th class="text-center">الموبايل</th>
                                <th class="text-center">العنوان بالكامل</th>
                                <th class="text-center">عرض الرسالة</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item let-index="rowIndex">
                            <tr>
                                <td>
                                    <span class="reorder-row-icon">{{ index + 1 }}</span>
                                </td>
                                <td>{{ item.FullName }}</td>
                                <td>{{ item.Email }}</td>
                                <td>{{ item.PhoneNumber }}</td>
                                <td>{{ item.Address }}</td>
                                <td class="text-center">
                                    <app-icon-shared
                                        [Icon]="'pi pi-eye'"
                                        [classColor]="'var(--blue-400)'"
                                        [pTooltipCustom]="'عرض الرسالة'"
                                        (action)="openDialog(item)"
                                    ></app-icon-shared>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td class="text-center" colspan="6">لا يوجد بيانات</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="footer"> </ng-template>
                        <ng-template pTemplate="loadingbody"> </ng-template>
                    </p-table>
                </ng-container>
            </p-tabPanel>

        </p-tabView>
    </div>


    <app-show-message-modal
    *ngIf="(showMessageDialog$ | async).isOpen"
></app-show-message-modal>
