<div class="flex flex-column md:flex-row mb-3">
    <div class="text-900 text-xl font-bold mb-3 md:mb-0">
        خدمات التاهيل الطبي

    </div>
</div>
<hr />

<form [formGroup]="formServicesPage">
    <div class="grid p-fluid mt-3">
        <div class="col-12 mb-2 lg:col-8 lg:mb-0">
            <app-text-area-field
            [rows]="3"
                [label]="'خدمة التاهيل الطبي /عربي'"
                formControlName="NameAr"
            >
            </app-text-area-field>
        </div>
       <!--  <div class="col-12 mb-2 lg:col-6 lg:mb-0">
            <app-text-area-field
            [rows]="3"
                [label]="'خدمة التاهيل الطبي /انجليزي'"
                formControlName="NameEn"
            >
            </app-text-area-field>
        </div> -->

        <div class="col-12 mb-2 lg:col-2 lg:mb-0">
            <app-input-field
                label="ترتيب الخدمة"
                formControlName="Sorting"
            >
            </app-input-field>
        </div>
        <div
            class="col-12 mb-2 lg:col-2 lg:mb-0 align-items-center justify-content-evenly"  style="margin-top: 2.9rem"
        >
            <app-check-box label="فعال" formControlName="IsActive">
            </app-check-box>
        </div>
        <div
            class="col-12 mb-2 lg:col-4 lg:mb-0 align-items-center justify-content-evenly"  style="margin-top: 2.5rem"
        >
            <div class="inline-flex align-items-center">
                <app-button-component
                    [classColor]="'p-button-raised'"
                    (action)="save()"
                    [Icon]="'pi pi-id-card'"
                    label="حفظ"
                    [isCustomLable]="true"
                    [pTooltipCustom]="'حفظ'"
                >
                </app-button-component>
                <app-button-component
                    label="مسح الحقول"
                    class="pr-2"
                    (action)="clear()"
                    [classColor]="'p-button-raised p-button-secondary '"
                    [pTooltipCustom]="'مسح الحقول '"
                    [Icon]="'pi pi-eraser'"
                ></app-button-component>
            </div>
        </div>
    </div>
    <br />
    <ng-container *ngIf="dataTable$ | async as data">
        <p-table
            styleClass="p-datatable-gridlines"
            [rows]="10"
            [paginator]="true"
           [style.width]="'100%'"
            [value]="data"
            [loading]="data.loading"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th class="text-center">#</th>
                    <th class="text-center">العنوان عربي</th>
                   <!--  <th class="text-center">العنوان انجليزي</th> -->
                    <th class="text-center">الحالة</th>
                    <th class="text-center">الترتيب</th>
                    <th class="text-center">الاجراءات</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-index="rowIndex">
                <tr>
                    <td>
                        <span class="reorder-row-icon">{{ index + 1 }}</span>
                    </td>
                    <td>{{ item.NameAr }}</td>
                    <!-- <td>{{ item.NameEn }}</td> -->
                    <td>{{ item.IsActive?'فعال':'غير فعال' }}</td>
                    <td>{{ item.Sorting }}</td>
                    <td class="text-center">
                        <app-icon-shared
                            [Icon]="'pi pi-pencil'"
                            [classColor]="'var(--blue-400)'"
                            [pTooltipCustom]="'تعديل البيانات'"
                            (action)="editItem(item)"
                        ></app-icon-shared>

                        <app-icon-shared
                            [Icon]="'pi pi-trash'"
                            [classColor]="'var(--red-400)'"
                            [pTooltipCustom]="'حذف'"
                            (action)="deleteItem(item)"
                        ></app-icon-shared>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td class="text-center" colspan="6">لا يوجد بيانات</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer"> </ng-template>
            <ng-template pTemplate="loadingbody"> </ng-template>
        </p-table>
    </ng-container>
</form>


