<app-dialog-shared
    [width]="'60vw'"
    [dialogHeader]="'pdf + اضافة صور للاقسام '"
    (close)="closeDialog()"
>
    <div class="bodyDialog">
        <form [formGroup]="Form_ImageSection">
            <div class="grid p-fluid mt-3">
                <div class="col-12 mb-2 lg:col-3 lg:mb-0">
                    <label for="">اضافة صور + ملف pdf</label>
                    <br>
                    <app-upload-files
                    #fileUpload
                        [multiple]="true"
                        (onSelectFiles)="fileSelected = $event"
                        [showFilesUploaded]="true"
                    ></app-upload-files>
                </div>

                <div class="col-12 mb-2 lg:col-4 lg:mb-0">
                    <app-input-field label="الترتيب" formControlName="Sorting">
                    </app-input-field>
                </div>
            </div>
        </form>

        <br />
        <ng-container *ngIf="ImageSection$ | async as data">
            <p-table
                styleClass="p-datatable-gridlines"
                [rows]="7"
                [paginator]="true"
                [style.width]="'100%'"
                [value]="data.data"
                [rowsPerPageOptions]="[10, 25, 50]"
                [loading]="data.loading"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th class="text-center">#</th>
                        <th class="text-center">الصورة</th>
                        <th class="text-center">الترتيب</th>
                        <th class="text-center">الاجراءات</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-index="rowIndex">
                    <tr>
                        <td>
                            <span class="reorder-row-icon">{{
                                index + 1
                            }}</span>
                        </td>
                        <td>
                            <span *ngIf="item?.ImagePath | isImage">
                                <p-image
                                    [src]="Avatar + item?.ImagePath"
                                    alt="Image"
                                    width="45px"
                                    style="height: 45px; object-fit: cover"
                                    [preview]="true"
                                ></p-image>
                            </span>
                            <span *ngIf="!(item?.ImagePath | isImage)">
                                <a
                                    class="d-block"
                                    [href]="Avatar + item?.ImagePath"
                                    target="_blank"
                                >
                                    {{
                                        item?.ImagePath
                                    }}</a
                                >
                            </span>
                        </td>
                        <td>{{ item.Sorting }}</td>

                        <td class="text-center">
                            <app-icon-shared
                                [Icon]="'pi pi-pencil'"
                                [classColor]="'var(--blue-400)'"
                                [pTooltipCustom]="'تعديل '"
                                (action)="edit(item)"
                            ></app-icon-shared>

                            <app-icon-shared
                                [Icon]="'pi pi-trash'"
                                [classColor]="'var(--red-400)'"
                                [pTooltipCustom]="'حذف'"
                                (action)="deleteItem(item)"
                            ></app-icon-shared>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td class="text-center" colspan="6">لا يوجد بيانات</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="footer"> </ng-template>
                <ng-template pTemplate="loadingbody"> </ng-template>
            </p-table>
        </ng-container>
    </div>
    <div class="footerDialog">
        <app-button-component
            [classColor]="'p-button-raised'"
            (action)="saveImageSection()"
            [Icon]="'pi pi-id-card'"
            label="حفظ"
            [isCustomLable]="true"
            [pTooltipCustom]="'حفظ'"
        >
        </app-button-component>
        <app-button-component
            label="مسح الحقول"
            class="pr-2"
            (action)="clearImageSection()"
            [classColor]="'p-button-raised p-button-secondary '"
            [pTooltipCustom]="'مسح الحقول '"
            [Icon]="'pi pi-eraser'"
        ></app-button-component>
    </div>
</app-dialog-shared>
