<p-dialog [modal]="true" [style]="{ width: width, height: height }" [visible]="true" [draggable]="false"
    showEffect="fade" [resizable]="false" [closeOnEscape]="true">
    <ng-template pTemplate="header">
        <div class="flex justify-content-between align-items-start header"
            style="background: #f5f6fa; border-bottom: 1px solid #e8e8e8">
            <h5>{{ dialogHeader | translate }}</h5>
            <div class="close" (click)="close.emit()">
                <i class="pi pi-times"></i>
            </div>
        </div>
    </ng-template>

    <ng-content select=".bodyDialog" class="p-4"> </ng-content>
    <ng-template pTemplate="footer" class="" style="background: #f5f6fa">
        <hr />
        <div class="flex justify-content-end">
            <ng-content select=".footerDialog"> </ng-content>
        </div>
    </ng-template>
</p-dialog>
