app-footer {
    margin-top: auto;
}

.layout-footer {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .footer-start {
        display: flex;
        align-items: center;

        img {
            width: 4rem;
            padding-inline-end: 10px;
        }

        .app-name {
            margin-left: .75rem;
            font-size: 1rem;
            font-weight: 700;
        }
    }
}
