<app-dialog-shared [width]="'70vw'" [dialogHeader]='"ادخال نص العقود"' (close)="closeDialog()">
    <div class="bodyDialog">
        <form>
            <div class="grid p-fluid">
                <div class="col-12 mb-2 lg:col-3 lg:mb-0">
                    <app-input-field label="اسم المشروع">
                    </app-input-field>
                </div>
                </div>
        </form>

        <ng-container>
            <form>
                <p-editor [style]="{'height':'320px'}"></p-editor>
            </form>
        </ng-container>
    </div>
    <div class="footerDialog">
        <app-button-component label="حفظ" [classColor]="'p-button-raised'" [pTooltipCustom]="'حفط'"
            [Icon]="'pi pi-save'"></app-button-component>
        <app-button-component label="مسح بيانات الحقول" [classColor]="'p-button-raised p-button-secondary'"
            [pTooltipCustom]="'مسح العقد '" [Icon]="'pi pi-eraser'"></app-button-component>
    </div>
</app-dialog-shared>
