<app-dialog-shared [width]="'70vw'" [dialogHeader]="title" (close)="closeDialog()">
    <div class="bodyDialog">
        <ng-container>
            <form [formGroup]="FilterForm">
                <div class="grid p-fluid">
                    <div class="col-12 mb-2 lg:col-3 lg:mb-0">
                        <app-input-field label="الاسم" formControlName="name">
                        </app-input-field>
                    </div>
                    <div class="col-12 mb-2 lg:col-2 lg:mb-0">
                        <app-select-field  [label]="'المشاريع (اختياري)'" formControlName="projects"   [dropdownItems]="projects" > </app-select-field>
                  </div>
                    <div class="col-12 mb-2 lg:col-3 lg:mb-0">
                        <app-input-field label="البريد الالكتروني" formControlName="email">
                        </app-input-field>
                    </div>
                    <div class="col-12 mb-2 lg:col-2 lg:mb-0">
                        <app-input-number-field label="رقم الجوال" formControlName="phone">
                        </app-input-number-field>
                    </div>
                    <div class="col-12 mb-2 lg:col-2 lg:mb-0">
                        <app-input-field label="هوية/سجل" formControlName="IDNumber">
                        </app-input-field>
                    </div>

                    <div class="col-12 mb-2 lg:col-12 lg:mb-0">
                        <app-text-area-field [rows]="3" formControlName="emailText"
                            label="إرسال رسالة نصية وعبر البريد لبيانات الدخول عند الإنشاء">
                        </app-text-area-field>
                    </div>
                </div>
            </form>
        </ng-container>
    </div>
    <div class="footerDialog">
        <ng-container *ngIf="hideBtns">
            <app-button-component label="حفظ" [classColor]="'p-button-raised'" [pTooltipCustom]="'حفط'"
            [Icon]="'pi pi-user-plus'"></app-button-component>
        <app-button-component label="مسح بيانات الحقول" [classColor]="'p-button-raised p-button-secondary'"
            [pTooltipCustom]="'مسح الحقول '" [Icon]="'pi pi-eraser'"></app-button-component>
        </ng-container>
    </div>
</app-dialog-shared>
