<div class="card">
    <div
        class="flex flex-column md:flex-row md:align-items-start md:justify-content-between mb-3"
    >
        <div class="text-900 text-xl font-semibold mb-3 md:mb-0">
            الصفحة الرئيسية - السلايدر
        </div>
    </div>
    <hr />
    <br />

    <form [formGroup]="formSlider">
        <div class="grid p-fluid">
            <div class="col-12 mb-2 lg:col-12 lg:mb-0">
                <label for="" class="block">اضافة صورة للسلايدر</label>
                <app-upload-files
                    (onSelectFiles)="fileSelected = $event"
                    [showFilesUploaded]="true"
                ></app-upload-files>
            </div>
            <div class="col-12 mb-2 lg:col-6 lg:mb-0">
                <app-input-field
                    label="العنوان بالعربي"
                    formControlName="TitleAr"
                >
                </app-input-field>
            </div>
            <div class="col-12 mb-2 lg:col-6 lg:mb-0">
                <app-input-field
                    label="العنوان بالانجليزي"
                    formControlName="TitleEn"
                >
                </app-input-field>
            </div>
            <div class="col-12 mb-2 lg:col-3 lg:mb-0">
                <app-input-field
                    label="معرف الخبر  (ID) | لينك الانتقال"
                    formControlName="Link"
                >
                </app-input-field>
            </div>
            <div class="col-12 mb-2 lg:col-2 lg:mb-0">
                <app-input-field
                    label="ترتيب السلايدر"
                    formControlName="Sorting"
                >
                </app-input-field>
            </div>
            <div
                class="col-12 mb-2 lg:col-2 lg:mb-0 align-items-center justify-content-evenly"
                style="margin-top: 2.9rem"
            >
                <app-check-box label="فعال" formControlName="IsActive">
                </app-check-box>
            </div>

            <div
                class="col-12 mb-2 lg:col-4 lg:mb-0 align-items-center justify-content-evenly"
                style="margin-top: 2.5rem"
            >
                <div class="inline-flex align-items-center">
                    <app-button-component
                        [classColor]="'p-button-raised'"
                        (action)="save()"
                        [Icon]="'pi pi-id-card'"
                        label="حفظ"
                        [isCustomLable]="true"
                        [pTooltipCustom]="'حفظ'"
                    >
                    </app-button-component>
                    <app-button-component
                        label="مسح الحقول"
                        class="pr-2"
                        (action)="clear()"
                        [classColor]="'p-button-raised p-button-secondary '"
                        [pTooltipCustom]="'مسح الحقول '"
                        [Icon]="'pi pi-eraser'"
                    ></app-button-component>
                </div>
            </div>
        </div>
    </form>

    <br />
    <ng-container *ngIf="sliderData$ | async as data">
        <p-table
            styleClass="p-datatable-gridlines"
            [rows]="10"
            [paginator]="true"
            [style.width]="'100%'"
            [value]="data.data"
            [loading]="data.loading"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th class="text-center">#</th>
                    <th class="text-center">العنوان عربي</th>
                    <th class="text-center">العنوان انجليزي</th>
                    <th class="text-center">فعال</th>
                    <th class="text-center">الترتيب</th>
                    <th class="text-center">الصورة</th>
                    <th class="text-center">الاجراءات</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-index="rowIndex">
                <tr>
                    <td>
                        <span class="reorder-row-icon">{{ index + 1 }}</span>
                    </td>
                    <td>{{ item.TitleAr }}</td>
                    <td>{{ item.TitleEn }}</td>
                    <td>{{ item.IsActive?'فعال':'غير فعال' }}</td>
                    <td>{{ item.Sorting }}</td>
                    <td>
                        <!-- {{Avatar + item?.ImagePath}} -->
                        <span>
                            <p-image
                                [src]="Avatar + item?.ImagePath"
                                alt="Image"
                                width="40px"
                                [preview]="true"
                            ></p-image>
                     </span>
                    </td>
                    <td class="text-center">
                        <app-icon-shared
                            [Icon]="'pi pi-pencil'"
                            [classColor]="'var(--blue-400)'"
                            [pTooltipCustom]="'تعديل البيانات'"
                            (action)="editItem(item)"
                        ></app-icon-shared>

                        <app-icon-shared
                            [Icon]="'pi pi-trash'"
                            [classColor]="'var(--red-400)'"
                            [pTooltipCustom]="'حذف'"
                            (action)="deleteItem(item)"
                        ></app-icon-shared>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td class="text-center" colspan="6">لا يوجد بيانات</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer"> </ng-template>
            <ng-template pTemplate="loadingbody"> </ng-template>
        </p-table>
    </ng-container>
</div>

<app-services-cards></app-services-cards>
