<div class="card">
    <div
        class="flex flex-column md:flex-row md:align-items-start md:justify-content-between mb-3"
    >
        <div class="text-900 text-xl font-semibold mb-3 md:mb-0">
            الصفحة الرئيسية - السلايدر
        </div>
    </div>
    <hr />
    <br />

    <form [formGroup]="formSlider">
        <div class="grid p-fluid">
            <div class="col-12 mb-2  lg:mb-0">
                <label for="" class="block"> اضافة صورة (مطلوب)</label>
                <app-upload-files
                    #fileUpload
                    (onSelectFiles)="fileSelected = $event"
                    [showFilesUploaded]="true"
                    [multiple]="false"
                ></app-upload-files>
            </div>
            <div class="col-12 mb-2 lg:col-6 lg:mb-0">
                <app-input-field
                    label=" العنوان (مطلوب)"
                    formControlName="TitleAr">
                </app-input-field>
            </div>
            <div class="col-12 mb-2 lg:col-6 lg:mb-0 lang-en">
                <app-input-field
                    label="Title"
                    formControlName="TitleEn">
                </app-input-field>
            </div>
            <div class="col-12 mb-2 lg:col-4 lg:mb-0">
                <app-input-field
                    label="لينك الانتقال"
                    formControlName="Link"
                >
                </app-input-field>
            </div>
            <div class="col-12 mb-2 lg:col-2 lg:mb-0">
                <label> لون خلفية العنوان</label>
                <br>
                <!-- <p-colorPicker [inline]="true"  formControlName="TitleBackgroundColor"></p-colorPicker> -->
                <input [(colorPicker)]="color" formControlName="TitleBackgroundColor" [style.background]="color"/>


            </div>
            <div class="col-12 mb-2 lg:col-2 lg:mb-0">
            <app-input-number-field   label="الترتيب"
            formControlName="Sorting"></app-input-number-field>
            </div>
            <div
                class="col-12 mb-2 lg:col-2 lg:mb-0 align-items-center justify-content-evenly"
                style="margin-top: 2.9rem"
            >
                <app-check-box label="فعال" formControlName="IsActive">
                </app-check-box>
            </div>
            <div
                class="col-12 mb-2 lg:col-2 lg:mb-0 align-items-center justify-content-evenly"
                style="margin-top: 2.9rem"
            >
                <app-check-box label="اظهار العنوان" formControlName="ShowTitle">
                </app-check-box>
            </div>


            <div
                class="col-12 mb-2 lg:col-4 lg:mb-0 align-items-center justify-content-evenly"
                style="margin-top: 2.5rem"
            >
                <div class="inline-flex align-items-center">
                    <app-button-component
                        [classColor]="'p-button-raised'"
                        (action)="save()"
                        [Icon]="'pi pi-id-card'"
                        label="حفظ"
                        [isCustomLable]="true"
                        [pTooltipCustom]="'حفظ'"
                    >
                    </app-button-component>
                    <app-button-component
                        label="مسح الحقول"
                        class="pr-2"
                        (action)="clear()"
                        [classColor]="'p-button-raised p-button-secondary '"
                        [pTooltipCustom]="'مسح الحقول '"
                        [Icon]="'pi pi-eraser'"
                    ></app-button-component>
                </div>
            </div>
        </div>
    </form>
    <br />
    <ng-container *ngIf="sliderData$ | async as data">
        <p-table
           (onRowReorder)="onRowReorder($event, data)"
            styleClass="p-datatable-gridlines"
            [rows]="10"
            [paginator]="true"
            [style.width]="'100%'"
            [value]="data.data"
            #dt1
            [loading]="data.loading"
            [reorderableColumns]="true"
            [rowsPerPageOptions]="[10, 25, 50]"
            sortMode="multiple"
            [scrollable]="true"
        >
        <ng-template pTemplate="caption">
            <div class="grid">
               <div class="col-12 lg:col-6 serch-input">
                   <input pInputText type="text" (input)="dt1.filter($any($event.target)?.value, 'TitleAr', 'contains')"
                   [value]="$any(dt1.filters['TitleAr'])?.value" placeholder="بحث العنوان" class=" w-full p-column-filter p-inputtext p-component p-element p-inputtext-sm  ">
               </div>

           </div>
           <tr>
       </tr>
       </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th class="text-center">#</th>
                    <th pSortableColumn="TitleAr"  class="text-center">العنوان <p-sortIcon ></p-sortIcon></th>
                    <th pSortableColumn="TitleEn"  class="text-center">Title <p-sortIcon ></p-sortIcon></th>
                    <!-- <th class="text-center">العنوان انجليزي</th> -->
                    <th pSortableColumn="CreatedDate"  class="text-center">تاريخ النشر <p-sortIcon></p-sortIcon></th>
                    <th class="text-center" >الحالة</th>
                    <th class="text-center" >ظهور العنوان</th>
                    <th class="text-center" >الترتيب</th>
                    <th class="text-center" >الصورة</th>
                    <th class="text-center">الاجراءات</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-index="rowIndex">
                <tr [pReorderableRow]="index">
                    <td>
                        <span
                            class="pi pi-bars"
                            pReorderableRowHandle
                        ></span>
                    </td>
                    <td [width]="'20%'">{{ item.TitleAr }}</td>
                    <td [width]="'20%'">{{ item.TitleEn }}</td>
                    <td>{{ item.CreatedDate  | date}}</td>
                    <td>{{ item.IsActive?'فعال':'غير فعال' }}</td>
                    <td>{{ item.ShowTitle?'ظاهر':'مخفي' }}</td>
                    <td>{{ item.Sorting }}</td>
                    <td>
                        <!-- {{Avatar + item?.ImagePath}} -->
                        <span>
                            <p-image
                                [src]="Avatar + item?.ImagePath"
                                alt="Image"
                                width="40px"
                                [preview]="true"
                            ></p-image>
                     </span>
                    </td>
                    <td class="text-center">
                        <app-icon-shared
                            [Icon]="'pi pi-pencil'"
                            [classColor]="'var(--blue-400)'"
                            [pTooltipCustom]="'تعديل البيانات'"
                            (action)="editItem(item)"
                        ></app-icon-shared>

                        <app-icon-shared
                            [Icon]="'pi pi-trash'"
                            [classColor]="'var(--red-400)'"
                            [pTooltipCustom]="'حذف'"
                            (action)="deleteItem(item)"
                        ></app-icon-shared>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td class="text-center" colspan="6">لا يوجد بيانات</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer"> </ng-template>
            <ng-template pTemplate="loadingbody"> </ng-template>
        </p-table>
    </ng-container>
</div>

<app-services-cards></app-services-cards>
