<div class="card">
    <div class="flex flex-column md:flex-row mb-3">
        <div class="text-900 text-xl font-semibold mb-3 md:mb-0">
            المعلومات الاساسية -الفوتر
        </div>
    </div>
    <hr />
    <form [formGroup]="formMainInfo">
        <div class="grid p-fluid mt-3">
            <div class="col-12 mb-2 lg:col-12 lg:mb-0">
                <label for="">اضافة لوقو</label>
                <app-upload-files
                    (onSelectFiles)="fileSelected = $event"
                    [showFilesUploaded]="true"
                ></app-upload-files>
            </div>
           <!--  <div class="col-12 mb-2 lg:col-6 lg:mb-0">
                <app-input-field
                [label]="'اسم المستشفى  /عربي'"
                formControlName="HospitalNameAr">
            </app-input-field>
            </div> -->
            <!-- <div class="col-12 mb-2 lg:col-6 lg:mb-0">
                <app-input-field
                [label]="'اسم المستشفى  /انجليزي'"
                formControlName="HospitalNamEn">
            </app-input-field>
            </div> -->
            <div class="col-12 mb-2 lg:col-12 lg:mb-0">

                <app-text-area-field
                    [rows]="2"
                    [label]="'الوصف /عربي'"
                    formControlName="AboutAr"
                >
                </app-text-area-field>
            </div>
            <!-- <div class="col-12 mb-2 lg:col-6 lg:mb-0">
                <app-text-area-field
                    [rows]="2"
                    [label]="'وصف  /انجليزي'"
                    formControlName="AboutEn"
                >
                </app-text-area-field>
            </div> -->


            <div class="col-12 mb-2 lg:col-4 lg:mb-0">
                <app-input-field
                    [label]="'رابط فيسبوك'"
                    formControlName="FacebookLink"
                >
                </app-input-field>
            </div>
            <div class="col-12 mb-2 lg:col-4 lg:mb-0">
                <app-input-field
                    [label]="'رابط يوتيوب'"
                    formControlName="YoutubeLink"
                >
                </app-input-field>
            </div>
            <div class="col-12 mb-2 lg:col-4 lg:mb-0">
                <app-input-field
                    [label]="'رابط انستقرام'"
                    formControlName="InstagramLink"
                >
                </app-input-field>
            </div>
            <div class="col-12 mb-2 lg:col-4 lg:mb-0">
                <app-input-field
                    [label]="'رابط تويتر'"
                    formControlName="TwitterLink"
                >
                </app-input-field>
            </div>
            <div class="col-12 mb-2 lg:col-4 lg:mb-0">
                <app-input-field
                    [label]="'رابط واتس اب'"
                    formControlName="WhatsAppLink"
                >
                </app-input-field>
            </div>
            <div class="col-12 mb-2 lg:col-4 lg:mb-0">
                <app-input-field
                    [label]="'سوشيال ميديا هاشتاق'"
                    formControlName="SocialMediaTag"
                >
                </app-input-field>
            </div>
             <div class="col-12 mb-2 lg:col-3 lg:mb-0">
                <app-input-field
                    [label]="'الموقع  /عربي'"
                    formControlName="LocationAr"
                >
                </app-input-field>
            </div>
            <!-- <div class="col-12 mb-2 lg:col-3 lg:mb-0">
                <app-input-field
                    [label]="'الموقع  /انجليزي'"
                    formControlName="LocationAr"
                >
                </app-input-field>
            </div> -->
            <div class="col-12 mb-2 lg:col-2 lg:mb-0">
                <app-input-field
                    [label]="'موبايل'"
                    formControlName="Mobile"
                >
                </app-input-field>
            </div>
            <div class="col-12 mb-2 lg:col-2 lg:mb-0">
                <app-input-field
                    [label]="'الهاتف'"
                    formControlName="Phone"
                >
                </app-input-field>
            </div>
            <div class="col-12 mb-2 lg:col-2 lg:mb-0">
                <app-input-field
                    [label]="'الايميل'"
                    formControlName="Email"
                >
                </app-input-field>
            </div>
            <div
                class="col-12 mb-2 lg:col-4 lg:mb-0 align-items-center justify-content-evenly"
                style="margin-top: 2.5rem"
            >
                <div class="inline-flex align-items-center">
                    <app-button-component
                        [classColor]="'p-button-raised'"
                        (action)="save()"
                        [Icon]="'pi pi-id-card'"
                        label="حفظ"
                        [isCustomLable]="true"
                        [pTooltipCustom]="'حفظ'"
                    >
                    </app-button-component>
                    <app-button-component
                        label="مسح الحقول"
                        class="pr-2"
                        (action)="clear()"
                        [classColor]="'p-button-raised p-button-secondary '"
                        [pTooltipCustom]="'مسح الحقول '"
                        [Icon]="'pi pi-eraser'"
                    ></app-button-component>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="card">
    <div class="flex flex-column md:flex-row mb-3">
        <div class="text-900 text-xl font-semibold mb-3 md:mb-0">
            الاحصائيات
        </div>
    </div>
    <hr />
    <form [formGroup]="formStats">
        <div class="grid p-fluid mt-3">
            <div class="col-12 mb-2 lg:col-2 lg:mb-0">
                <app-input-field
                [label]="'الاسم  /عربي'"
                formControlName="NameAr">
            </app-input-field>
            </div>
           <!--  <div class="col-12 mb-2 lg:col-2 lg:mb-0">
                <app-input-field
                [label]="'الاسم  /انجليزي'"
                formControlName="NameEn">
            </app-input-field>
            </div> -->
             <div class="col-12 mb-2 lg:col-2 lg:mb-0">
                <app-input-field
                [label]="'العدد  /انجليزي'"
                formControlName="Count">
            </app-input-field>
            </div>
            <div class="col-12 mb-2 lg:col-2 lg:mb-0">
                <app-input-field label="الترتيب " formControlName="Sorting">
                </app-input-field>
            </div>
            <div
                class="col-12 mb-2 lg:col-1 lg:mb-0 align-items-center justify-content-evenly"
                style="margin-top: 2.9rem"
            >
                <app-check-box label="فعال" formControlName="IsActive">
                </app-check-box>
            </div>

            <div
                class="col-12 mb-2 lg:col-3 lg:mb-0 align-items-center justify-content-evenly"
                style="margin-top: 2.5rem"
            >
                <div class="inline-flex align-items-center">
                    <app-button-component
                        [classColor]="'p-button-raised'"
                        (action)="saveStats()"
                        [Icon]="'pi pi-id-card'"
                        label="حفظ"
                        [isCustomLable]="true"
                        [pTooltipCustom]="'حفظ'"
                    >
                    </app-button-component>
                    <app-button-component
                        label="مسح الحقول"
                        class="pr-2"
                        (action)="clearStats()"
                        [classColor]="'p-button-raised p-button-secondary '"
                        [pTooltipCustom]="'مسح الحقول '"
                        [Icon]="'pi pi-eraser'"
                    ></app-button-component>
                </div>
            </div>
        </div>
    </form>
    <br>

    <ng-container *ngIf="Stats$ | async as data">
        <p-table
            styleClass="p-datatable-gridlines"
            [rows]="10"
            [paginator]="true"
             [style.width]="'100%'"
            [value]="data.data"
            [loading]="data.loading"
            [rowsPerPageOptions]="[10, 25, 50]"
            #dt1
        >

        <ng-template pTemplate="caption">
            <div class="grid">
                <div class="col-12 lg:col-6 serch-input">
                    <input pInputText type="text" (input)="dt1.filter($any($event.target)?.value, 'NameAr', 'contains')"
                    [value]="$any(dt1.filters['NameAr'])?.value" placeholder="بحث الوصف" class=" w-full p-column-filter p-inputtext p-component p-element p-inputtext-sm  ">
                </div>
               <div class="col-12 lg:col-3 serch-input">
                   <input pInputText type="text" (input)="dt1.filter($any($event.target)?.value, 'Count', 'contains')"
                   [value]="$any(dt1.filters['Count'])?.value" placeholder="بحث العدد" class=" w-full p-column-filter p-inputtext p-component p-element p-inputtext-sm  ">
               </div>
               <div class="col-12 lg:col-3 serch-input">
                   <input pInputText type="text" (input)="dt1.filter($any($event.target)?.value, 'Sorting', 'contains')"
                   [value]="$any(dt1.filters['Sorting'])?.value" placeholder="بحث الترتيب" class=" w-full p-column-filter p-inputtext p-component p-element p-inputtext-sm  ">
               </div>

           </div>
           <tr>
       </tr>
       </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th class="text-center">#</th>
                    <th pSortableColumn="NameAr" class="text-center">الاسم عربي <p-sortIcon ></p-sortIcon></th>
       <!--     <th class="text-center">الاسم انجليزي</th>-->
               <th pSortableColumn="Count" class="text-center">العدد <p-sortIcon ></p-sortIcon></th>
               <th pSortableColumn="Sorting" class="text-center">الترتيب <p-sortIcon ></p-sortIcon></th>
                    <th class="text-center">الحالة</th>
                    <th class="text-center">الاجراءات</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-index="rowIndex">
                <tr>
                    <td>
                        <span class="reorder-row-icon">{{ index + 1 }}</span>
                    </td>
                    <td>{{ item.NameAr }}</td>
                    <!-- <td>{{ item.NameEn }}</td> -->
                    <td>{{ item.Count }}</td>
                    <td>{{ item.IsActive?'فعال':'غير فعال' }}</td>
                    <td>{{ item.Sorting }}</td>
                    <td class="text-center">
                        <app-icon-shared
                            [Icon]="'pi pi-pencil'"
                            [classColor]="'var(--blue-400)'"
                            [pTooltipCustom]="'تعديل البيانات'"
                            (action)="editItem(item)"
                        ></app-icon-shared>

                        <app-icon-shared
                            [Icon]="'pi pi-trash'"
                            [classColor]="'var(--red-400)'"
                            [pTooltipCustom]="'حذف'"
                            (action)="deleteItem(item)"
                        ></app-icon-shared>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td class="text-center" colspan="6">لا يوجد بيانات</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer"> </ng-template>
            <ng-template pTemplate="loadingbody"> </ng-template>
        </p-table>
    </ng-container>



</div>
