
<form [formGroup]="loginForm">
<div class="surface-ground h-screen w-screen flex align-items-center justify-content-center" [ngClass]="{'p-input-filled': filledInput}">
    <div class="surface-card py-7 px-5 sm:px-7 shadow-2 flex flex-column w-11 sm:w-30rem" style="border-radius:14px">
        <div class="text-center">
            <img src="../../../../../assets/img/logo.svg" width="70%" alt="">
        </div>
        <hr>
        <p class=" mb-4 text-center ">تسجيل الدخول  <strong></strong></p>

        <span class="p-input-icon-left mb-4">
           <!--  <i class="pi pi-user"></i> -->
            <input type="text" formControlName="Username" pInputText placeholder="اسم المستخدم" class="w-full">
        </span>

        <span class="p-input-icon-left mb-4">
           <!--  <i class="pi pi-key"></i> -->
           <p-password  formControlName="Password" placeholder="كلمة المرور" class="w-full" [toggleMask]="true"></p-password>

<!--             <input type="password" pInputText placeholder="كلمة المرور" class="w-full">
 -->        </span>

        <button [disabled]="disable" [routerLink]="['/']" (click)="login()" pButton pRipple label="تسجيل الدخول" class="mb-4 btn-login "></button>
        <p-captcha
        siteKey="6LeeT7QmAAAAAEnHpRDr9oRQcPUNVQWv1D5_oSBv"
        initCallback="onloadCallback"
        (onResponse)="showResponse($event)"
      ></p-captcha>
    </div>
</div>
</form>
<app-config [minimal]="true"></app-config>
