<!-- التاهيل الطبي -->
<form [formGroup]="formOutpatient">
    <div class="grid p-fluid mt-3">
        <div class="col-12 mb-2 lg:col-5 lg:mb-0">
            <app-input-field [label]="'الاسم  /عربي'" formControlName="NameAr">
            </app-input-field>
        </div>
        <!-- <div class="col-12 mb-2 lg:col-4 lg:mb-0">
            <app-input-field
                [label]="'الاسم  /انجليزي'"
                formControlName="NameEn"
            >
            </app-input-field>
        </div> -->
        <div class="col-12 mb-2 lg:col-2 lg:mb-0">
            <app-input-number-field  label="الترتيب"
            formControlName="Sorting"></app-input-number-field>
        </div>
        <div
            class="col-12 mb-2 lg:col-2 lg:mb-0 align-items-center justify-content-evenly"
            style="margin-top: 2.9rem"
        >
            <app-check-box label="فعال" formControlName="IsActive">
            </app-check-box>
        </div>

        <div
            class="col-12 mb-2 lg:col-3 lg:mb-0 align-items-center justify-content-evenly" style="margin-top: 2.2rem"
        >
            <div class="inline-flex align-items-center">
                <app-button-component
                    [classColor]="'p-button-raised'"
                    (action)="saveFormOutpatient()"
                    [Icon]="'pi pi-id-card'"
                    label="حفظ"
                    [isCustomLable]="true"
                    [pTooltipCustom]="'حفظ'"
                >
                </app-button-component>
                <app-button-component
                    label="مسح الحقول"
                    class="pr-2"
                    (action)="clear()"
                    [classColor]="'p-button-raised p-button-secondary '"
                    [pTooltipCustom]="'مسح الحقول '"
                    [Icon]="'pi pi-eraser'"
                ></app-button-component>
            </div>
        </div>
    </div>
    <br />
    <ng-container *ngIf="getOutpatientClinicsDepartments$ | async as data">
        <p-table
        (onRowReorder)="onRowReorder($event, data)"
            [reorderableColumns]="true"
            styleClass="p-datatable-gridlines"
            [rows]="5"
            [paginator]="true"
           [style.width]="'100%'"
            [value]="data"
            [loading]="data.loading"
            #dt1
        >
        <ng-template pTemplate="caption">
            <div class="grid">
               <div class="col-12 lg:col-6 serch-input">
                   <input pInputText type="text" (input)="dt1.filter($any($event.target)?.value, 'NameAr', 'contains')"
                   [value]="$any(dt1.filters['NameAr'])?.value" placeholder="بحث العنوان" class=" w-full p-column-filter p-inputtext p-component p-element p-inputtext-sm  ">
               </div>
               <div class="col-12 lg:col-3 serch-input">
                <input pInputText type="text" (input)="dt1.filter($any($event.target)?.value, 'Sorting', 'contains')"
                [value]="$any(dt1.filters['Sorting'])?.value" placeholder="بحث الترتيب" class=" w-full p-column-filter p-inputtext p-component p-element p-inputtext-sm  ">
            </div>

           </div>
           <tr>
       </tr>
       </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th class="text-center">#</th>
                    <th pSortableColumn="NameAr" class="text-center">العنوان <p-sortIcon ></p-sortIcon></th>
                    <!-- <th class="text-center">العنوان انجليزي</th> -->
                    <th pSortableColumn="CreatedDate" class="text-center">تاريخ النشر <p-sortIcon></p-sortIcon></th>

                    <th pSortableColumn="Sorting" class="text-center">الترتيب <p-sortIcon ></p-sortIcon></th>
                    <th class="text-center">الحالة</th>
                    <th class="text-center">الاجراءات</th>
                    <th class="text-center">الوصف</th>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-index="rowIndex">
                <tr [pReorderableRow]="index">
                    <td>
                        <span
                            class="pi pi-bars"
                            pReorderableRowHandle
                        ></span>
                    </td>
                    <td>{{ item.NameAr }}</td>
                    <td>{{ item.CreatedDate  | date}}</td>
                    <td>{{ item.Sorting }}</td>

                    <td>{{ item.IsActive?'فعال':'غير فعال' }}</td>
                    <td class="text-center">
                        <app-icon-shared
                            [Icon]="'pi pi-pencil'"
                            [classColor]="'var(--blue-400)'"
                            [pTooltipCustom]="'تعديل البيانات'"
                            (action)="editItem(item)"
                        ></app-icon-shared>

                        <app-icon-shared
                            [Icon]="'pi pi-trash'"
                            [classColor]="'var(--red-400)'"
                            [pTooltipCustom]="'حذف'"
                            (action)="deleteItem(item)"
                        ></app-icon-shared>
                    </td>

                        <td>
                            <app-icon-shared
                            [Icon]="'pi pi-plus'"
                            [classColor]="'var(--blue-400)'"
                            [pTooltipCustom]="'اضافة الوصف'"
                            (action)="addDescription(item)"
                        ></app-icon-shared>
                        </td>

                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td class="text-center" colspan="6">لا يوجد بيانات</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer"> </ng-template>
            <ng-template pTemplate="loadingbody"> </ng-template>
        </p-table>
    </ng-container>
</form>



