<app-dialog-shared [width]="'30vw'" [dialogHeader]='title' (close)="closeDialog()">
    <div class="bodyDialog">
        <ng-container>
            <form [formGroup]="changePasswordForm">
                <div class="grid p-fluid">
                    <div class="col-12 mb-2 lg:col-12 lg:mb-0">
                        <app-input-field label="كلمة المرور الحالية" formControlName="Password" >
                        </app-input-field>
                    </div>
                    <div class="col-12 mb-2 lg:col-12 lg:mb-0">
                        <app-input-field label="كلمة المرور الجديدة" formControlName="NewPassword" >
                        </app-input-field>
                    </div>
                    <div class="col-12 mb-2 lg:col-12 lg:mb-0">
                        <app-input-field label="تاكيد كلمة المرور" formControlName="ConfirmNewPassword" >
                        </app-input-field>
                    </div>
                </div>
            </form>
        </ng-container>
    </div>
    <div class="footerDialog">

        <app-button-component label="حفظ" [classColor]="'p-button-raised'" [pTooltipCustom]="'حفط'"
        [Icon]="'pi pi-user-plus'"></app-button-component>
    <app-button-component label="مسح بيانات الحقول" [classColor]="'p-button-raised p-button-secondary'"
        [pTooltipCustom]="'مسح بيانات الحقول '" [Icon]="'pi pi-eraser'"></app-button-component>
    </div>
</app-dialog-shared>
