<ng-container *ngIf="!loading; else loader">
    <label *ngIf="isLabel" [class]="required ? 'label-required' : ''">{{
        label | translate
    }}</label>

    <p-dropdown
        [ngClass]="{'ng-invalid ng-dirty': (selectFieldControl.errors?.['required'] && (selectFieldControl.touched || submitted)), 'p-inputtext-sm': true}"
        appendTo="body"
        [options]="dropdownItemsForComponent"
        [optionLabel]="optionLabel"
        [optionValue]="optionValue"
        [required]="required"
        [placeholder]="placeholder | translate"
        [filter]="filter"
        [style]="{ width: '100%' }"
        (onChange)="Change($event.value)"
        [formControl]="selectFieldControl"
    >
    </p-dropdown>
    <!-- <app-validation
        [control]="selectFieldControl"
        [submitted]="submitted"
    ></app-validation> -->
</ng-container>
<ng-template #loader>
    <app-spinner-loading></app-spinner-loading>
</ng-template>
