<ng-container>
    <div class="card">
        <div class="flex flex-column md:flex-row md:align-items-start md:justify-content-between mb-3">
            <div class="text-900 text-xl font-semibold mb-3 md:mb-0">
                المشاريع
            </div>
            <div class="inline-flex align-items-center">
                <span class="p-input-icon-left flex-auto mr-2">
                    <app-button-component [classColor]="'p-button-outlined'" [Icon]="'pi pi-plus'" label="اضافة مشروع"
                        [isCustomLable]="true" [pTooltipCustom]="'اضافة مشروع جديد'" (action)="addFormDataDialog()">
                    </app-button-component>
                </span>
            </div>
        </div>
        <hr>
        <form>
            <div class="grid p-fluid">
                <div class="col-12 mb-2 lg:col-4 lg:mb-0">
                    <app-search-field placeholder="بحث...">
                    </app-search-field>
                </div>

            </div>
        </form>
        <br>

        <p-tabView>
            <p-tabPanel header=" جدول المشاريع">
                <ng-container *ngIf="dataTable">
                    <p-table styleClass="p-datatable-gridlines" [rows]="5" [paginator]="true" style="width: 100%"
                        [value]="dataTable">
                        <ng-template pTemplate="caption">
                            <div class="table-header">
                                <form>
                                    <div class="grid p-fluid">
                                        <div class="col-12 mb-2 lg:col-2 lg:mb-0">
                                            <app-input-field label="القسم">
                                            </app-input-field>
                                        </div>
                                        <div class="col-12 mb-2 lg:col-2 lg:mb-0">
                                            <app-input-field label="رقم المشروع">
                                            </app-input-field>
                                        </div>
                                        <div class="col-12 mb-2 lg:col-3 lg:mb-0">
                                            <app-input-field label="الموقع">
                                            </app-input-field>
                                        </div>
                                        <div style="margin: 39px 23px 0 0;">
                                            <div class="inline-flex align-items-center">
                                                <app-button-component [classColor]="'p-button-help'" [Icon]="'pi pi-id-card'"
                                                label="بحث متقدم" [isCustomLable]="true" [pTooltipCustom]="'بحث متقدم'">
                                            </app-button-component>
                                                <app-button-component label="مسح الفلاتر" class="pr-2" [classColor]="'p-button-raised p-button-secondary '"
                                                    [pTooltipCustom]="'مسح الفلاتر '" [Icon]="'pi pi-eraser'"></app-button-component>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="text-center">#</th>
                                <th class="text-center">اسم المشروع</th>
                                <th class="text-center">رقم المشروع</th>
                                <th class="text-center">الموقع (LAN -WAN)</th>
                                <th class="text-center">بداية المشروع</th>
                                <th class="text-center">الوقت التقريبي لتسليم المشروع</th>
                                <th class="text-center">الاجراءات</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item let-index="rowIndex">
                            <tr>
                                <td > <span class="reorder-row-icon">{{ index + 1 }}</span></td>
                                <td>{{item.ProjectName}}</td>
                                <td>{{item.ProjectID}}</td>
                                <td>{{item.LocationWAN}} <br> {{item.LocationLAN}}</td>
                                <td>{{item.StartProject}}</td>
                                <td>{{item.EndTimeProject}}</td>
                                <td class="text-center">
                                    <app-icon-shared [Icon]="'pi pi-eye'" [classColor]="'var(--gray-600)'" [pTooltipCustom]="
                                    'عرض تفاصيل العقد'
                                "   (action)="showFormDataDialog(item)"  ></app-icon-shared>
                                    <app-icon-shared [Icon]="'pi pi-pencil'" [classColor]="'var(--blue-400)'"
                                        [pTooltipCustom]="'تعديل العقد'"(action)="addFormDataDialog(item)" ></app-icon-shared>
                                    <app-icon-shared [Icon]="'pi pi-ban'" [classColor]="'var(--red-300)'"
                                        [pTooltipCustom]="'تعطيل مؤقت'"></app-icon-shared>
                                    <app-icon-shared [Icon]="'pi pi-trash'" [classColor]="'var(--red-400)'"
                                        [pTooltipCustom]="'حذف'"></app-icon-shared>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td class="text-center" colspan="6">لا يوجد بيانات</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="footer"> </ng-template>
                        <ng-template pTemplate="loadingbody"> </ng-template>
                    </p-table>
                </ng-container>
            </p-tabPanel>
            <p-tabPanel header=" جدولة المشاريع">
                <full-calendar [options]="calendarOptions" style="min-height: 600px;">
                    <ng-template #eventContent let-arg>
                        <b>{{arg.timeText}}</b>
                        <i>{{arg.event.title}}</i>
                      </ng-template>
                </full-calendar>

            </p-tabPanel>

        </p-tabView>



    </div>
</ng-container>


<app-add-new-projects *ngIf="(DisplayProjectsDialog$ | async).isOpen"></app-add-new-projects>
<app-tasks-modal *ngIf="(tasksDialog$ | async).isOpen"></app-tasks-modal>
<app-attached-files *ngIf="(attachedFilesDialog$ | async).isOpen"></app-attached-files>
